<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{204,118}}</string>
                <key>offset</key>
                <string>{-42,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,335},{204,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{194,146}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,307},{194,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,146},{236,188}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,285},{236,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,180},{246,246}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,255},{246,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,180},{266,274}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,239},{266,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,426},{308,334}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,200},{308,334}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,454},{320,344}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,199},{320,344}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,816},{362,370}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,187},{362,370}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1186},{364,376}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,187},{364,376}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1562},{358,382}}</string>
                <key>offset</key>
                <string>{10,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,187},{358,382}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,454},{368,362}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,187},{368,362}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,798},{378,368}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,185},{378,368}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1562},{382,376}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,182},{382,376}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1166},{352,374}}</string>
                <key>offset</key>
                <string>{13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,188},{352,374}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_buff_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,0},{100,180}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,275},{100,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_buff_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,0},{100,180}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,275},{100,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_buff_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,0},{100,180}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,274},{100,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_buff_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,0},{100,180}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,275},{100,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_buff_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{100,180}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,275},{100,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj1.png</string>
            <key>size</key>
            <string>{996,1944}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:421eb1916dc4c764afeca25be0c0ac41$</string>
            <key>textureFileName</key>
            <string>mj1.png</string>
        </dict>
    </dict>
</plist>
