<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,204},{94,190}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,258},{94,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1476},{134,294}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,197},{134,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{210,292}}</string>
                <key>offset</key>
                <string>{-45,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,195},{210,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{262,262}}</string>
                <key>offset</key>
                <string>{-22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,193},{262,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,204},{272,268}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,193},{272,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,262},{254,270}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,197},{254,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1268},{214,208}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,257},{214,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1450},{182,220}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{182,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1476},{138,176}}</string>
                <key>offset</key>
                <string>{-1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,316},{138,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1850},{162,170}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,317},{162,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,2118},{176,160}}</string>
                <key>offset</key>
                <string>{-1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,326},{176,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2626},{190,84}}</string>
                <key>offset</key>
                <string>{-1,-69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,411},{190,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2534},{210,92}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,412},{210,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2580},{226,98}}</string>
                <key>offset</key>
                <string>{-1,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,412},{226,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2472},{236,108}}</string>
                <key>offset</key>
                <string>{-1,-82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,412},{236,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2404},{260,118}}</string>
                <key>offset</key>
                <string>{-1,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,411},{260,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,2352},{274,120}}</string>
                <key>offset</key>
                <string>{-1,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,416},{274,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2278},{282,126}}</string>
                <key>offset</key>
                <string>{0,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,420},{282,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2120},{308,138}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,419},{308,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1826},{320,144}}</string>
                <key>offset</key>
                <string>{0,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,419},{320,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1674},{330,152}}</string>
                <key>offset</key>
                <string>{0,-114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,422},{330,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1012},{358,164}}</string>
                <key>offset</key>
                <string>{0,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,421},{358,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,840},{368,172}}</string>
                <key>offset</key>
                <string>{0,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,418},{368,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,662},{368,178}}</string>
                <key>offset</key>
                <string>{0,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,423},{368,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,318},{56,114}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,308},{56,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,394},{82,176}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,272},{82,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1652},{126,176}}</string>
                <key>offset</key>
                <string>{-27,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,270},{126,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,1960},{158,158}}</string>
                <key>offset</key>
                <string>{-14,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,269},{158,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2472},{164,160}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,270},{164,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2020},{154,162}}</string>
                <key>offset</key>
                <string>{-3,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,272},{154,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2182},{128,126}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,307},{128,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2138},{110,132}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,316},{110,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,212},{84,106}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,343},{84,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2522},{118,112}}</string>
                <key>offset</key>
                <string>{22,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,344},{118,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2308},{114,116}}</string>
                <key>offset</key>
                <string>{41,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,348},{114,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1996},{106,142}}</string>
                <key>offset</key>
                <string>{68,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,338},{106,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1828},{126,168}}</string>
                <key>offset</key>
                <string>{76,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{525,326},{126,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1770},{148,190}}</string>
                <key>offset</key>
                <string>{82,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,314},{148,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1672},{168,208}}</string>
                <key>offset</key>
                <string>{87,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,304},{168,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1232},{188,218}}</string>
                <key>offset</key>
                <string>{90,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,300},{188,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1260},{204,230}}</string>
                <key>offset</key>
                <string>{94,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,293},{204,230}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1022},{220,238}}</string>
                <key>offset</key>
                <string>{96,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,286},{220,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,1022},{236,246}}</string>
                <key>offset</key>
                <string>{98,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,279},{236,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,778},{252,244}}</string>
                <key>offset</key>
                <string>{112,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,281},{252,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{264,244}}</string>
                <key>offset</key>
                <string>{123,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{503,282},{264,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,532},{282,246}}</string>
                <key>offset</key>
                <string>{137,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{508,281},{282,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,212},{298,244}}</string>
                <key>offset</key>
                <string>{152,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{515,283},{298,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,456},{300,240}}</string>
                <key>offset</key>
                <string>{164,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,284},{300,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,204},{94,190}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,258},{94,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,1476},{134,294}}</string>
                <key>offset</key>
                <string>{-21,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,197},{134,294}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,940},{210,292}}</string>
                <key>offset</key>
                <string>{-45,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,195},{210,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,0},{262,262}}</string>
                <key>offset</key>
                <string>{-22,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,193},{262,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,204},{272,268}}</string>
                <key>offset</key>
                <string>{-20,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,193},{272,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,262},{254,270}}</string>
                <key>offset</key>
                <string>{-4,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,197},{254,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1268},{214,208}}</string>
                <key>offset</key>
                <string>{17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,257},{214,208}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1450},{182,220}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{182,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1670},{168,180}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,312},{168,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1880},{184,188}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,299},{184,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1490},{198,182}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,285},{198,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2522},{218,124}}</string>
                <key>offset</key>
                <string>{-1,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,270},{218,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2404},{234,130}}</string>
                <key>offset</key>
                <string>{1,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,264},{234,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,2212},{242,140}}</string>
                <key>offset</key>
                <string>{1,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,254},{242,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2068},{264,144}}</string>
                <key>offset</key>
                <string>{1,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,250},{264,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2258},{282,146}}</string>
                <key>offset</key>
                <string>{4,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,247},{282,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1970},{300,150}}</string>
                <key>offset</key>
                <string>{9,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,243},{300,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1518},{324,156}}</string>
                <key>offset</key>
                <string>{9,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,237},{324,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,1352},{336,166}}</string>
                <key>offset</key>
                <string>{10,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,226},{336,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1176},{324,176}}</string>
                <key>offset</key>
                <string>{0,80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,216},{324,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,472},{350,190}}</string>
                <key>offset</key>
                <string>{2,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,201},{350,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,0},{370,204}}</string>
                <key>offset</key>
                <string>{6,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,187},{370,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{386,212}}</string>
                <key>offset</key>
                <string>{14,99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,179},{386,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj2.png</string>
            <key>size</key>
            <string>{1024,2710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72282117ff517919624b3143db30bbb$</string>
            <key>textureFileName</key>
            <string>mj2.png</string>
        </dict>
    </dict>
</plist>
