<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,4092},{552,346}}</string>
                <key>offset</key>
                <string>{-8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,238},{552,346}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2518},{710,502}}</string>
                <key>offset</key>
                <string>{-104,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,52},{710,502}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{874,530}}</string>
                <key>offset</key>
                <string>{7,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,29},{874,530}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1032},{824,496}}</string>
                <key>offset</key>
                <string>{7,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,57},{824,496}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1528},{812,480}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,146},{812,480}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,530},{824,502}}</string>
                <key>offset</key>
                <string>{18,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,152},{824,502}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2008},{732,510}}</string>
                <key>offset</key>
                <string>{67,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,152},{732,510}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3020},{636,516}}</string>
                <key>offset</key>
                <string>{18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,153},{636,516}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3536},{632,556}}</string>
                <key>offset</key>
                <string>{31,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,115},{632,556}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2008},{278,442}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,180},{278,442}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2450},{268,228}}</string>
                <key>offset</key>
                <string>{33,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,381},{268,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj3.png</string>
            <key>size</key>
            <string>{1010,4438}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ecf9d5fa3193785eed2172de8c66391$</string>
            <key>textureFileName</key>
            <string>mj3.png</string>
        </dict>
    </dict>
</plist>
