<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mj_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,274},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,371},{26,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,486},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,360},{52,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1686},{80,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,346},{80,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1492},{104,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,334},{104,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1936},{128,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,326},{128,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1956},{134,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,319},{134,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1156},{302,330}}</string>
                <key>offset</key>
                <string>{-4,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,310},{302,330}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,918},{332,422}}</string>
                <key>offset</key>
                <string>{-4,-117}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,290},{332,422}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{366,494}}</string>
                <key>offset</key>
                <string>{-1,-136}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,273},{366,494}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,420},{358,404}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{347,311},{358,404}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1340},{304,336}}</string>
                <key>offset</key>
                <string>{20,-133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,349},{304,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2312},{210,274}}</string>
                <key>offset</key>
                <string>{3,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,338},{210,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2060},{218,252}}</string>
                <key>offset</key>
                <string>{6,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,333},{218,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1676},{230,244}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,325},{230,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1810},{226,250}}</string>
                <key>offset</key>
                <string>{11,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,302},{226,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,696},{238,210}}</string>
                <key>offset</key>
                <string>{19,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,327},{238,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,248},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,371},{26,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,536},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,359},{50,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2084},{78,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,346},{78,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1590},{104,96}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,335},{104,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2050},{126,114}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,325},{126,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1810},{132,126}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,318},{132,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,248},{248,238}}</string>
                <key>offset</key>
                <string>{58,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,260},{248,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,906},{320,250}}</string>
                <key>offset</key>
                <string>{66,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,248},{320,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,824},{340,250}}</string>
                <key>offset</key>
                <string>{84,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,248},{340,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,0},{286,248}}</string>
                <key>offset</key>
                <string>{117,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,250},{286,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2016},{224,186}}</string>
                <key>offset</key>
                <string>{77,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,278},{224,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2202},{218,168}}</string>
                <key>offset</key>
                <string>{66,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,291},{218,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2370},{202,174}}</string>
                <key>offset</key>
                <string>{53,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,285},{202,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2544},{194,184}}</string>
                <key>offset</key>
                <string>{43,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,277},{194,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2422},{196,180}}</string>
                <key>offset</key>
                <string>{29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,279},{196,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1764},{168,192}}</string>
                <key>offset</key>
                <string>{31,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,266},{168,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,274},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,371},{26,26}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,486},{52,50}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,360},{52,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1686},{80,78}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,346},{80,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,1492},{104,98}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,334},{104,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1936},{128,114}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,326},{128,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1956},{134,128}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,319},{134,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,1486},{302,324}}</string>
                <key>offset</key>
                <string>{18,102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,120},{302,324}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,494},{356,424}}</string>
                <key>offset</key>
                <string>{6,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,48},{356,424}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{362,420}}</string>
                <key>offset</key>
                <string>{17,124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,50},{362,420}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1074},{314,418}}</string>
                <key>offset</key>
                <string>{9,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,12},{314,418}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1736},{228,280}}</string>
                <key>offset</key>
                <string>{9,132}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,112},{228,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2164},{210,274}}</string>
                <key>offset</key>
                <string>{10,118}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,129},{210,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2170},{218,252}}</string>
                <key>offset</key>
                <string>{7,101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,157},{218,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1492},{230,244}}</string>
                <key>offset</key>
                <string>{4,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,172},{230,244}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1920},{226,250}}</string>
                <key>offset</key>
                <string>{2,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,189},{226,250}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mj_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,486},{238,210}}</string>
                <key>offset</key>
                <string>{-5,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,204},{238,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mj4.png</string>
            <key>size</key>
            <string>{1020,2728}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fc71f24e4ba4fd6e7214bbaabf25b8b$</string>
            <key>textureFileName</key>
            <string>mj4.png</string>
        </dict>
    </dict>
</plist>
