<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>accept_daily/accept_daily_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,1},{55,75}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{55,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,1},{59,75}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{59,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{69,153},{67,77}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{67,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,311},{71,79}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,309},{71,79}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{71,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,309},{59,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{59,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_daily/accept_daily_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,73},{51,77}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{51,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{55,71}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{55,71}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1},{59,75}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,6},{59,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,153},{67,77}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{67,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,153},{71,77}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{71,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,231},{71,79}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{71,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,549},{59,81}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{59,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>accept_normal/accept_normal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,389},{51,79}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{51,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,77},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,231},{79,77}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{79,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,633},{65,81}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,3},{65,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,633},{73,81}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{73,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,389},{77,79}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{77,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,633},{85,81}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_daily/finish_daily_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,471},{81,79}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,77},{85,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{85,75}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,231},{81,77}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{81,77}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,551},{65,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{65,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,551},{73,81}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{73,81}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,469},{79,79}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{79,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{81,471},{85,79}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>finish_normal/finish_normal_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,391},{81,79}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>NPCmission.png</string>
            <key>size</key>
            <string>{249,715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a1cb5f7e4f61c36e39b55d3a63f9381$</string>
            <key>textureFileName</key>
            <string>NPCmission.png</string>
        </dict>
    </dict>
</plist>
