<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>transport_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,1},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,337},{169,163}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{169,163}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,337},{169,163}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{169,163}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,169},{169,167}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,167}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{169,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{169,169}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,501},{169,159}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{169,159}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,337},{169,165}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,171},{169,165}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,501},{169,161}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{169,161}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,503},{169,159}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{169,159}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,171},{169,165}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{169,165}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
            <key>transport_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1},{169,167}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{169,167}}</string>
                <key>sourceSize</key>
                <string>{169,169}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>transport.png</string>
            <key>size</key>
            <string>{511,663}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be0271b88ffe5ede90386ffcc2a3596f$</string>
            <key>textureFileName</key>
            <string>transport.png</string>
        </dict>
    </dict>
</plist>
