<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e1/e1_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1256},{38,38}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,49},{38,38}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e1/e1_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2219},{86,82}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{86,82}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e1/e1_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1494},{102,88}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{102,88}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>e5/e5_body_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,1311},{318,182}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,292},{318,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1494},{278,180}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,270},{278,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1256},{316,176}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,259},{316,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1634},{284,198}}</string>
                <key>offset</key>
                <string>{6,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,213},{284,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1201},{318,186}}</string>
                <key>offset</key>
                <string>{0,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{353,214},{318,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1433},{292,200}}</string>
                <key>offset</key>
                <string>{-4,100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,184},{292,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,2441},{152,156}}</string>
                <key>offset</key>
                <string>{-1,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,363},{152,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1782},{238,188}}</string>
                <key>offset</key>
                <string>{13,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,337},{238,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e5/e5_body_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1833},{252,232}}</string>
                <key>offset</key>
                <string>{-3,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,308},{252,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,394},{390,252}}</string>
                <key>offset</key>
                <string>{-45,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,234},{390,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,1054},{298,256}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,231},{298,256}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,894},{348,306}}</string>
                <key>offset</key>
                <string>{7,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,225},{348,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,647},{390,246}}</string>
                <key>offset</key>
                <string>{-45,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,235},{390,246}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,819},{368,436}}</string>
                <key>offset</key>
                <string>{13,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,97},{368,436}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,374},{402,444}}</string>
                <key>offset</key>
                <string>{19,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,96},{402,444}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,1},{404,392}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,198},{404,392}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{412,372}}</string>
                <key>offset</key>
                <string>{12,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,222},{412,372}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1388},{294,286}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,253},{294,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e6/e6_body_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1675},{262,220}}</string>
                <key>offset</key>
                <string>{2,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,309},{262,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,1},{200,194}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,299},{200,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,196},{196,200}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,293},{196,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2078},{196,198}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,297},{196,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,2598},{168,192}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,302},{168,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2463},{182,184}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,310},{182,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,2093},{190,188}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,307},{190,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,2277},{190,184}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,310},{190,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2441},{188,156}}</string>
                <key>offset</key>
                <string>{7,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,339},{188,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e7/e7_zbody_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2375},{188,198}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,291},{188,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e8/e8_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,894},{52,128}}</string>
                <key>offset</key>
                <string>{96,77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,51},{52,128}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2757},{142,208}}</string>
                <key>offset</key>
                <string>{32,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,48},{142,208}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,2778},{140,194}}</string>
                <key>offset</key>
                <string>{29,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,126},{140,194}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,1726},{230,366}}</string>
                <key>offset</key>
                <string>{7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,1},{230,366}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2003},{222,300}}</string>
                <key>offset</key>
                <string>{12,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,84},{222,300}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,835},{224,218}}</string>
                <key>offset</key>
                <string>{12,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,166},{224,218}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,616},{224,218}}</string>
                <key>offset</key>
                <string>{12,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,166},{224,218}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,397},{228,218}}</string>
                <key>offset</key>
                <string>{11,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,166},{228,218}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2731},{168,218}}</string>
                <key>offset</key>
                <string>{-19,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,166},{168,218}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1583},{100,142}}</string>
                <key>offset</key>
                <string>{-6,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,166},{100,142}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e8/e8_zbody_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2078},{100,140}}</string>
                <key>offset</key>
                <string>{-6,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,168},{100,140}}</string>
                <key>sourceSize</key>
                <string>{384,384}</string>
            </dict>
            <key>e9/e9_fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2169},{222,102}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{222,102}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,1971},{236,106}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{236,106}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2066},{222,102}}</string>
                <key>offset</key>
                <string>{2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{222,102}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1896},{236,106}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{236,106}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,1675},{242,106}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,106}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2272},{212,102}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{212,102}}</string>
                <key>sourceSize</key>
                <string>{256,128}</string>
            </dict>
            <key>e9/e9_zbody_buff_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2621},{174,156}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,324},{174,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2598},{180,158}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,322},{180,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2462},{184,158}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,322},{184,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2282},{188,158}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,322},{188,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2304},{190,158}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,322},{190,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2574},{182,156}}</string>
                <key>offset</key>
                <string>{-9,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,324},{182,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>e9/e9_zbody_buff_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2648},{170,156}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,324},{170,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e1.png</string>
            <key>size</key>
            <string>{1024,2973}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:982b431def89c8983dd3bb68ecfb6112$</string>
            <key>textureFileName</key>
            <string>e1.png</string>
        </dict>
    </dict>
</plist>
