<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e1/e1_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,543},{66,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{66,66}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e1/e1_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,610},{66,62}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{66,62}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e1/e1_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,664},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{64,64}}</string>
                <key>sourceSize</key>
                <string>{102,102}</string>
            </dict>
            <key>e2/e2_body_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,1726},{231,182}}</string>
                <key>offset</key>
                <string>{34,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{328,198},{231,182}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,729},{215,218}}</string>
                <key>offset</key>
                <string>{35,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,182},{215,218}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,948},{219,210}}</string>
                <key>offset</key>
                <string>{32,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,182},{219,210}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,1159},{223,206}}</string>
                <key>offset</key>
                <string>{22,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,196},{223,206}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_body_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{299,485},{135,178}}</string>
                <key>offset</key>
                <string>{22,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,169},{135,178}}</string>
                <key>sourceSize</key>
                <string>{819,614}</string>
            </dict>
            <key>e2/e2_zbody_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1735},{213,213}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,55},{213,213}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1536},{231,189}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,84},{231,189}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1565},{239,169}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,109},{239,169}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,1366},{233,169}}</string>
                <key>offset</key>
                <string>{6,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,108},{233,169}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,313},{207,171}}</string>
                <key>offset</key>
                <string>{6,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,101},{207,171}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{187,153}}</string>
                <key>offset</key>
                <string>{9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,106},{187,153}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,155},{167,157}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,100},{167,157}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e2/e2_zbody_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,485},{71,57}}</string>
                <key>offset</key>
                <string>{-19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,111},{71,57}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1113},{285,235}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,29},{285,235}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,897},{287,215}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,67},{287,215}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{303,219}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,67},{303,219}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,675},{293,221}}</string>
                <key>offset</key>
                <string>{1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,67},{293,221}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,449},{297,225}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,66},{297,225}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,221},{301,227}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,66},{301,227}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
            <key>e9/e9_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1349},{273,215}}</string>
                <key>offset</key>
                <string>{-1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,67},{273,215}}</string>
                <key>sourceSize</key>
                <string>{307,307}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e2.png</string>
            <key>size</key>
            <string>{511,1949}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ed9621f0ee118ea5df938039e5ba12c$</string>
            <key>textureFileName</key>
            <string>e2.png</string>
        </dict>
    </dict>
</plist>
