<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,0},{88,126}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,314},{88,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,126},{88,124}}</string>
                <key>offset</key>
                <string>{8,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,316},{88,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,126},{88,126}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,314},{88,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{88,126}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,314},{88,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n29.png</string>
            <key>size</key>
            <string>{176,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ab0096eba9d7d3cad25980ed5a95e2a6$</string>
            <key>textureFileName</key>
            <string>n29.png</string>
        </dict>
    </dict>
</plist>
