<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,0},{14,28}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,402},{14,28}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{12,28},{12,28}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,402},{12,28}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{14,28}}</string>
                <key>offset</key>
                <string>{-1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,402},{14,28}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,28},{12,28}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{506,402},{12,28}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n300.png</string>
            <key>size</key>
            <string>{28,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:40f04a0fb3f45f5f1fd62a0c1c6ad493$</string>
            <key>textureFileName</key>
            <string>n300.png</string>
        </dict>
    </dict>
</plist>
