<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{24,18}}</string>
                <key>offset</key>
                <string>{0,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,413},{24,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,18},{22,18}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,412},{22,18}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,0},{22,20}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,410},{22,20}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,36},{20,22}}</string>
                <key>offset</key>
                <string>{-1,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{501,408},{20,22}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n400.png</string>
            <key>size</key>
            <string>{46,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3306a94d541d6e09187e82f2fcae961$</string>
            <key>textureFileName</key>
            <string>n400.png</string>
        </dict>
    </dict>
</plist>
