<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,0},{62,138}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,297},{62,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{64,138}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,297},{64,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,138}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,298},{64,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,0},{62,138}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,298},{62,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n41.png</string>
            <key>size</key>
            <string>{252,138}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e464b04cf4b7db3ee350f2f988415a9e$</string>
            <key>textureFileName</key>
            <string>n41.png</string>
        </dict>
    </dict>
</plist>
