<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,132},{98,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{100,132}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,301},{100,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{100,132}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,301},{100,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{100,132}}</string>
                <key>offset</key>
                <string>{-8,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,301},{100,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,132},{96,132}}</string>
                <key>offset</key>
                <string>{-6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,301},{96,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,264},{96,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,301},{96,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{96,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,301},{96,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,264},{98,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,0},{98,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,132},{98,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{98,132}}</string>
                <key>offset</key>
                <string>{-7,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n54.png</string>
            <key>size</key>
            <string>{394,396}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a4e382ac3237d9f9c8b9c577aba659e$</string>
            <key>textureFileName</key>
            <string>n54.png</string>
        </dict>
    </dict>
</plist>
