<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,0},{70,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,339},{70,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{66,92}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,339},{66,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,92},{70,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,339},{70,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{70,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,339},{70,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n58.png</string>
            <key>size</key>
            <string>{206,184}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:192aae63baea956d61e9c6a49a6e8e30$</string>
            <key>textureFileName</key>
            <string>n58.png</string>
        </dict>
    </dict>
</plist>
