<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,220},{120,220}}</string>
                <key>offset</key>
                <string>{-17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,214},{120,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,220},{122,220}}</string>
                <key>offset</key>
                <string>{-17,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,214},{122,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,220},{124,220}}</string>
                <key>offset</key>
                <string>{-18,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,214},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{124,220}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,214},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{124,220}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,214},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{124,220}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,214},{124,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,0},{122,220}}</string>
                <key>offset</key>
                <string>{-19,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,214},{122,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_down_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,0},{122,220}}</string>
                <key>offset</key>
                <string>{-18,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,214},{122,220}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n7.png</string>
            <key>size</key>
            <string>{492,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8433ddb049293cf9f793f427e4f9406$</string>
            <key>textureFileName</key>
            <string>n7.png</string>
        </dict>
    </dict>
</plist>
