<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,128},{64,128}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,304},{64,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,0},{64,128}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,304},{64,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{64,128}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,304},{64,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,128}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,304},{64,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n75.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2400d237fbf9b0df65621de9a97c8c22$</string>
            <key>textureFileName</key>
            <string>n75.png</string>
        </dict>
    </dict>
</plist>
