<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{121,93}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,48},{121,93}}</string>
                <key>sourceSize</key>
                <string>{189,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n77.png</string>
            <key>size</key>
            <string>{121,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a0d1575e5311443810fe4072debb035$</string>
            <key>textureFileName</key>
            <string>n77.png</string>
        </dict>
    </dict>
</plist>
