<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,148},{76,148}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,284},{76,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,0},{76,148}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,284},{76,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,150}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,282},{84,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,0},{82,150}}</string>
                <key>offset</key>
                <string>{4,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,282},{82,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>n9.png</string>
            <key>size</key>
            <string>{242,296}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d7a471c6e2e75b4a07fdab9d7197c460$</string>
            <key>textureFileName</key>
            <string>n9.png</string>
        </dict>
    </dict>
</plist>
