<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e1/e1_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,472},{20,18}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,25},{20,18}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e1/e1_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1111},{42,40}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{42,40}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e1/e1_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,877},{50,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,9},{50,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e5/e5_body_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,602},{160,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,145},{160,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,786},{138,90}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,135},{138,90}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,695},{158,88}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,129},{158,88}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,784},{142,98}}</string>
                <key>offset</key>
                <string>{3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,107},{142,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,625},{158,92}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,108},{158,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,718},{146,100}}</string>
                <key>offset</key>
                <string>{-2,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,92},{146,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,1299},{72,74}}</string>
                <key>offset</key>
                <string>{-1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,184},{72,74}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,981},{116,92}}</string>
                <key>offset</key>
                <string>{8,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,170},{116,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e5/e5_body_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,883},{122,110}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,156},{122,110}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,224},{194,124}}</string>
                <key>offset</key>
                <string>{-22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,118},{194,124}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,518},{148,128}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,115},{148,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,472},{172,152}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,113},{172,152}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,349},{194,122}}</string>
                <key>offset</key>
                <string>{-22,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,118},{194,122}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,385},{184,216}}</string>
                <key>offset</key>
                <string>{6,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,49},{184,216}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1},{200,222}}</string>
                <key>offset</key>
                <string>{10,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,48},{200,222}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,188},{200,196}}</string>
                <key>offset</key>
                <string>{6,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,99},{200,196}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{206,186}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,111},{206,186}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,647},{146,138}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,126},{146,138}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e6/e6_body_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,819},{128,108}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,155},{128,108}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{100,98}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,149},{100,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,100},{98,100}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,147},{98,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,201},{98,98}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,149},{98,98}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1336},{84,96}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,151},{84,96}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,1206},{92,92}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,155},{92,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1111},{96,94}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,154},{96,94}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,1134},{96,92}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,155},{96,92}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1255},{96,78}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,170},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e7/e7_zbody_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1154},{96,100}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,145},{96,100}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e8/e8_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,625},{26,64}}</string>
                <key>offset</key>
                <string>{48,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,25},{26,64}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1366},{70,104}}</string>
                <key>offset</key>
                <string>{16,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,24},{70,104}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1417},{70,96}}</string>
                <key>offset</key>
                <string>{14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,64},{70,96}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,928},{116,182}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,1},{116,182}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,983},{110,150}}</string>
                <key>offset</key>
                <string>{6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,42},{110,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,994},{112,108}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,84},{112,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,409},{112,108}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,84},{112,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,300},{112,108}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,84},{112,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,1308},{84,108}}</string>
                <key>offset</key>
                <string>{-10,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,84},{84,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,857},{50,70}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,83},{50,70}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e8/e8_zbody_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,786},{50,70}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,84},{50,70}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_fly_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1074},{110,52}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_fly_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,930},{118,52}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_fly_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1103},{110,50}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{110,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_fly_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,928},{118,52}}</string>
                <key>offset</key>
                <string>{-3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_fly_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,877},{120,52}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,52}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_fly_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1127},{106,50}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{106,50}}</string>
                <key>sourceSize</key>
                <string>{128,64}</string>
            </dict>
            <key>e9/e9_zbody_buff_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1287},{88,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,162},{88,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1334},{90,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,162},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,1227},{92,80}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,160},{92,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1206},{94,80}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,160},{94,80}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1178},{96,78}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,162},{96,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1257},{90,78}}</string>
                <key>offset</key>
                <string>{-4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,162},{90,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e9/e9_zbody_buff_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1413},{84,78}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,162},{84,78}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e1.png</string>
            <key>size</key>
            <string>{511,1514}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d855602d683bef621291f8d6d559ae7$</string>
            <key>textureFileName</key>
            <string>e1.png</string>
        </dict>
    </dict>
</plist>
