<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>e1/e1_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,119},{46,44}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{46,44}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e1/e1_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,176},{42,42}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e1/e1_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,164},{42,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{42,42}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>e2/e2_body_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,1025},{152,128}}</string>
                <key>offset</key>
                <string>{21,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,121},{152,128}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,850},{146,154}}</string>
                <key>offset</key>
                <string>{19,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,111},{146,154}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,884},{158,146}}</string>
                <key>offset</key>
                <string>{12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,110},{158,146}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{198,144}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,119},{198,144}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_body_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{88,118}}</string>
                <key>offset</key>
                <string>{14,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,102},{88,118}}</string>
                <key>sourceSize</key>
                <string>{512,384}</string>
            </dict>
            <key>e2/e2_zbody_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,145},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,576},{184,170}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{184,170}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,850},{178,174}}</string>
                <key>offset</key>
                <string>{6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{178,174}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,701},{184,148}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,43},{184,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,572},{190,128}}</string>
                <key>offset</key>
                <string>{1,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,64},{190,128}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,439},{192,132}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,60},{192,132}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,572},{128,116}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{128,116}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,701},{132,108}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,55},{132,108}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e2/e2_zbody_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,119},{58,56}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,67},{58,56}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{192,150}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{192,150}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,437},{192,138}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{192,138}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,298},{192,140}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{192,140}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,294},{192,142}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{192,142}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,151},{192,146}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{192,146}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,145},{192,148}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,39},{192,148}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
            <key>e9/e9_zbody_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,747},{182,136}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,40},{182,136}}</string>
                <key>sourceSize</key>
                <string>{192,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>e2.png</string>
            <key>size</key>
            <string>{512,1153}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd1a6b6ff3b2e0d22beccd7362de2e1$</string>
            <key>textureFileName</key>
            <string>e2.png</string>
        </dict>
    </dict>
</plist>
