<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,42}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,10},{52,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c1.png</string>
            <key>size</key>
            <string>{54,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c971890c6981d3bb9f428e0d1ba3720$</string>
            <key>textureFileName</key>
            <string>c1.png</string>
        </dict>
    </dict>
</plist>
