<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c14.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{84,52}}</string>
                <key>offset</key>
                <string>{-15,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,117},{84,52}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c14.png</string>
            <key>size</key>
            <string>{84,52}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff90e2782c623554a74e77fc277fa3ee$</string>
            <key>textureFileName</key>
            <string>c14.png</string>
        </dict>
    </dict>
</plist>
