<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c21.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{68,50}}</string>
                <key>offset</key>
                <string>{-49,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,131},{68,50}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c21.png</string>
            <key>size</key>
            <string>{68,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c59aa0b6bb012b9acd08f69f7d2ad419$</string>
            <key>textureFileName</key>
            <string>c21.png</string>
        </dict>
    </dict>
</plist>
