<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c24.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{92,46}}</string>
                <key>offset</key>
                <string>{-17,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,141},{92,46}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c24.png</string>
            <key>size</key>
            <string>{92,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ac0c98a326d918851bd5a2114a9ce4b$</string>
            <key>textureFileName</key>
            <string>c24.png</string>
        </dict>
    </dict>
</plist>
