<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{86,44}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,132},{86,44}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c37.png</string>
            <key>size</key>
            <string>{88,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eae4b66ea80e3da982120dd4d6632a1c$</string>
            <key>textureFileName</key>
            <string>c37.png</string>
        </dict>
    </dict>
</plist>
