<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,54}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c49.png</string>
            <key>size</key>
            <string>{52,56}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3740d190c53257f68e2ca74c8dde1e0a$</string>
            <key>textureFileName</key>
            <string>c49.png</string>
        </dict>
    </dict>
</plist>
