<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,44}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{52,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c51.png</string>
            <key>size</key>
            <string>{54,46}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1a164ea4e9840ae2a84cb70208d9c047$</string>
            <key>textureFileName</key>
            <string>c51.png</string>
        </dict>
    </dict>
</plist>
