<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{42,48}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{42,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c53.png</string>
            <key>size</key>
            <string>{44,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a60a8494ae57869a21b40de80eb79d6$</string>
            <key>textureFileName</key>
            <string>c53.png</string>
        </dict>
    </dict>
</plist>
