<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{50,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{50,48}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c6.png</string>
            <key>size</key>
            <string>{52,50}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2a8959f786e8936793ab159372b9b36b$</string>
            <key>textureFileName</key>
            <string>c6.png</string>
        </dict>
    </dict>
</plist>
