<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c62.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{182,136}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,78},{182,136}}</string>
                <key>sourceSize</key>
                <string>{234,258}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c62.png</string>
            <key>size</key>
            <string>{182,136}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c25b26b187e5674c6fa7c379e2887c3b$</string>
            <key>textureFileName</key>
            <string>c62.png</string>
        </dict>
    </dict>
</plist>
