<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>c8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{48,46}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,7},{48,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>c8.png</string>
            <key>size</key>
            <string>{50,48}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a15bc62da0c47ea931f32bbcca73f993$</string>
            <key>textureFileName</key>
            <string>c8.png</string>
        </dict>
    </dict>
</plist>
