<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle_1/idle_right_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1068},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,949},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,949},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,949},{142,118}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,830},{142,118}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,830},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,830},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,711},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,711},{142,118}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_1/idle_right_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,592},{142,118}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,303},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,592},{142,118}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,304},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,473},{142,118}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,304},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,473},{142,118}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,304},{142,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,120},{144,118}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,304},{144,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,120},{144,118}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,304},{144,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,356},{146,116}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,306},{146,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,356},{146,116}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,305},{146,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,239},{146,116}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,306},{146,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,239},{146,116}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,306},{146,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,1},{144,118}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,304},{144,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_2/idle_right_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1},{144,118}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,304},{144,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,1068},{136,120}}</string>
                <key>offset</key>
                <string>{9,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,300},{136,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{134,128}}</string>
                <key>offset</key>
                <string>{17,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,292},{134,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,265},{124,134}}</string>
                <key>offset</key>
                <string>{19,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,286},{124,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,537},{116,138}}</string>
                <key>offset</key>
                <string>{18,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,282},{116,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,400},{122,136}}</string>
                <key>offset</key>
                <string>{14,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,284},{122,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,676},{114,134}}</string>
                <key>offset</key>
                <string>{18,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,286},{114,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,130},{124,134}}</string>
                <key>offset</key>
                <string>{10,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,286},{124,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1187},{126,128}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,292},{126,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1306},{130,116}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,305},{130,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1189},{136,116}}</string>
                <key>offset</key>
                <string>{-8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,305},{136,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1187},{134,118}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,303},{134,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle_3/idle_right_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,1068},{140,118}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,304},{140,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>sceneObj0.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6284e3e4b61f0093a74a8148e33a0ae0$</string>
            <key>textureFileName</key>
            <string>sceneObj0.png</string>
        </dict>
    </dict>
</plist>
