<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountidle/Mountidle_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,2583},{284,282}}</string>
                <key>offset</key>
                <string>{-7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,186},{284,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2051},{296,292}}</string>
                <key>offset</key>
                <string>{-7,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,173},{296,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2005},{298,292}}</string>
                <key>offset</key>
                <string>{-7,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,163},{298,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2344},{290,272}}</string>
                <key>offset</key>
                <string>{-7,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,192},{290,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3490},{266,274}}</string>
                <key>offset</key>
                <string>{-6,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{373,190},{266,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,293},{244,276}}</string>
                <key>offset</key>
                <string>{4,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,192},{244,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,1734},{314,270}}</string>
                <key>offset</key>
                <string>{-45,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,189},{314,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1485},{328,282}}</string>
                <key>offset</key>
                <string>{-44,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,178},{328,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1194},{340,290}}</string>
                <key>offset</key>
                <string>{-31,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,169},{340,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1180},{344,262}}</string>
                <key>offset</key>
                <string>{-34,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,196},{344,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,919},{350,260}}</string>
                <key>offset</key>
                <string>{-35,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,196},{350,260}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,315},{356,268}}</string>
                <key>offset</key>
                <string>{-34,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,188},{356,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,3177},{276,276}}</string>
                <key>offset</key>
                <string>{-8,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,193},{276,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3197},{272,292}}</string>
                <key>offset</key>
                <string>{-9,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,182},{272,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3765},{264,302}}</string>
                <key>offset</key>
                <string>{-9,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,172},{264,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,3765},{236,272}}</string>
                <key>offset</key>
                <string>{-5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,205},{236,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,3528},{232,270}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,204},{232,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/Mountidle_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,3737},{240,270}}</string>
                <key>offset</key>
                <string>{0,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,199},{240,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,2667},{282,284}}</string>
                <key>offset</key>
                <string>{4,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,176},{282,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2617},{282,288}}</string>
                <key>offset</key>
                <string>{-3,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,180},{282,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,3454},{268,282}}</string>
                <key>offset</key>
                <string>{-6,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,178},{268,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,3237},{272,290}}</string>
                <key>offset</key>
                <string>{-7,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{369,173},{272,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2952},{276,284}}</string>
                <key>offset</key>
                <string>{-2,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,168},{276,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2906},{276,290}}</string>
                <key>offset</key>
                <string>{5,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,167},{276,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,0},{258,292}}</string>
                <key>offset</key>
                <string>{1,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,163},{258,292}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,570},{268,288}}</string>
                <key>offset</key>
                <string>{3,82}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,158},{268,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,859},{314,290}}</string>
                <key>offset</key>
                <string>{-56,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{299,178},{314,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1443},{338,290}}</string>
                <key>offset</key>
                <string>{-45,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,179},{338,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,620},{354,298}}</string>
                <key>offset</key>
                <string>{-32,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,175},{354,298}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,887},{350,306}}</string>
                <key>offset</key>
                <string>{-32,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,169},{350,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{354,302}}</string>
                <key>offset</key>
                <string>{-32,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,168},{354,302}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,313},{362,306}}</string>
                <key>offset</key>
                <string>{-33,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,164},{362,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,0},{374,312}}</string>
                <key>offset</key>
                <string>{-36,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,158},{374,312}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{390,314}}</string>
                <key>offset</key>
                <string>{-39,74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,153},{390,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1768},{312,282}}</string>
                <key>offset</key>
                <string>{-4,49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,194},{312,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1465},{316,282}}</string>
                <key>offset</key>
                <string>{3,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,189},{316,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2298},{292,284}}</string>
                <key>offset</key>
                <string>{6,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,186},{292,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1748},{304,296}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{368,179},{304,296}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,1150},{320,314}}</string>
                <key>offset</key>
                <string>{8,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,174},{320,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2358},{284,308}}</string>
                <key>offset</key>
                <string>{-19,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,173},{284,308}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2866},{278,310}}</string>
                <key>offset</key>
                <string>{-9,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,167},{278,310}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/Mountmove_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2045},{292,312}}</string>
                <key>offset</key>
                <string>{-10,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,162},{292,312}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot10.png</string>
            <key>size</key>
            <string>{1024,4067}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10f16f51fe26fb282e35b39cb280e6f$</string>
            <key>textureFileName</key>
            <string>mot10.png</string>
        </dict>
    </dict>
</plist>
