<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountidle/mountidle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,152},{64,152}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,296},{64,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,152},{66,152}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,296},{66,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,152},{68,154}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,294},{68,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,152},{70,154}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,294},{70,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1},{68,152}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,296},{68,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{66,152}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,296},{66,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,154},{194,154}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,281},{194,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,307},{192,154}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,281},{192,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,309},{190,154}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,281},{190,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,617},{194,156}}</string>
                <key>offset</key>
                <string>{6,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,279},{194,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,464},{196,154}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,281},{196,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,462},{196,154}}</string>
                <key>offset</key>
                <string>{6,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,281},{196,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,943},{62,170}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,268},{62,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1410},{66,170}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,268},{66,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1267},{68,170}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,268},{68,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,1410},{68,172}}</string>
                <key>offset</key>
                <string>{1,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,266},{68,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,945},{66,170}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,268},{66,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1096},{64,170}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,268},{64,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,774},{64,160}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,286},{64,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,774},{64,156}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,291},{64,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,623},{62,156}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,295},{62,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,305},{62,154}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,292},{62,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,150}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,286},{62,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,309},{62,156}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,281},{62,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{64,152}}</string>
                <key>offset</key>
                <string>{-1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,283},{64,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,466},{64,156}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,283},{64,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1},{212,150}}</string>
                <key>offset</key>
                <string>{4,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,274},{212,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,774},{208,154}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,278},{208,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,929},{206,154}}</string>
                <key>offset</key>
                <string>{7,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,281},{206,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1084},{202,160}}</string>
                <key>offset</key>
                <string>{10,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,279},{202,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,619},{198,154}}</string>
                <key>offset</key>
                <string>{9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,273},{198,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,1279},{194,166}}</string>
                <key>offset</key>
                <string>{7,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,269},{194,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1245},{194,164}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,270},{194,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1116},{200,162}}</string>
                <key>offset</key>
                <string>{3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,271},{200,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1438},{62,174}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,261},{62,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,780},{62,164}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,265},{62,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,780},{60,162}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,266},{60,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,931},{60,164}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,265},{60,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,935},{60,168}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,260},{60,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1438},{62,178}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,259},{62,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,1446},{62,188}}</string>
                <key>offset</key>
                <string>{-1,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,259},{62,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1446},{62,184}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,260},{62,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot4.png</string>
            <key>size</key>
            <string>{511,1635}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a567da045c73cd06d0579fa399e69dae$</string>
            <key>textureFileName</key>
            <string>mot4.png</string>
        </dict>
    </dict>
</plist>
