<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mountidle/mountidle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,747},{64,166}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,278},{64,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,580},{72,166}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,278},{72,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,580},{64,166}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,278},{64,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,914},{64,168}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,276},{64,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,747},{64,168}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,276},{64,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,747},{64,168}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,276},{64,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1043},{192,170}}</string>
                <key>offset</key>
                <string>{-9,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,265},{192,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1091},{196,170}}</string>
                <key>offset</key>
                <string>{-12,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,265},{196,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1222},{204,170}}</string>
                <key>offset</key>
                <string>{-17,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,265},{204,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1413},{220,172}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,263},{220,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1413},{232,172}}</string>
                <key>offset</key>
                <string>{-31,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,263},{232,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1586},{222,172}}</string>
                <key>offset</key>
                <string>{-25,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,263},{222,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1759},{60,200}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,253},{60,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,1586},{76,192}}</string>
                <key>offset</key>
                <string>{-8,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,254},{76,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1586},{60,192}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,254},{60,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1759},{60,198}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,253},{60,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1586},{60,194}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,252},{60,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountidle/mountidle_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,1586},{60,194}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,252},{60,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,415},{64,154}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,292},{64,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,415},{64,156}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,289},{64,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,288},{64,154}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,288},{64,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,0},{64,140}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,293},{64,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,0},{64,140}}</string>
                <key>offset</key>
                <string>{-2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,297},{64,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{64,136}}</string>
                <key>offset</key>
                <string>{-2,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,295},{64,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,141},{64,146}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,296},{64,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,284},{64,152}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,294},{64,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,0},{270,136}}</string>
                <key>offset</key>
                <string>{-27,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,293},{270,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{262,136}}</string>
                <key>offset</key>
                <string>{-19,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,295},{262,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,443},{264,136}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,297},{264,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,274},{262,140}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{367,294},{262,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,580},{264,146}}</string>
                <key>offset</key>
                <string>{-20,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,288},{264,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,892},{270,150}}</string>
                <key>offset</key>
                <string>{-28,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,285},{270,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,1262},{276,150}}</string>
                <key>offset</key>
                <string>{-33,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,285},{276,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,745},{276,146}}</string>
                <key>offset</key>
                <string>{-32,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,288},{276,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,580},{60,164}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,283},{60,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,288},{60,152}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,286},{60,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,141},{62,146}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,287},{62,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,137},{64,146}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,284},{64,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,415},{66,160}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,276},{66,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,916},{64,174}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,271},{64,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,1043},{62,178}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,275},{62,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Mountmove/mountmove_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,916},{60,174}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,278},{60,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot5.png</string>
            <key>size</key>
            <string>{482,1959}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbf413eedffe74ee7331f2277ca4c38f$</string>
            <key>textureFileName</key>
            <string>mot5.png</string>
        </dict>
    </dict>
</plist>
