<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountidle/mountidle_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1805},{114,182}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,282},{114,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1622},{114,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,283},{114,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,1990},{116,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,283},{116,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1636},{118,180}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,284},{118,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1455},{118,180}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,283},{118,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1817},{116,182}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,283},{116,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1636},{234,176}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,291},{234,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1459},{234,176}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,291},{234,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1813},{232,176}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,291},{232,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2189},{230,178}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,292},{230,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2169},{230,178}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,292},{230,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1990},{230,178}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,292},{230,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,600},{110,174}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,301},{110,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,1282},{110,176}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,300},{110,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1280},{112,174}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,301},{112,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1282},{114,172}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,304},{114,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,618},{114,166}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,307},{114,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1111},{112,168}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,306},{112,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1105},{116,166}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,281},{116,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1272},{116,170}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,278},{116,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2000},{116,188}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,277},{116,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1443},{116,178}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,282},{116,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,785},{116,166}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,289},{116,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,938},{118,166}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,289},{118,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,944},{120,166}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,286},{120,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,777},{116,166}}</string>
                <key>offset</key>
                <string>{3,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,284},{116,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,459},{232,158}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,286},{232,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,952},{240,162}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,284},{240,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1115},{248,166}}</string>
                <key>offset</key>
                <string>{11,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,283},{248,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,618},{248,158}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,291},{248,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,0},{236,150}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,298},{236,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,151},{234,150}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,297},{234,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,302},{228,156}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,292},{228,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,777},{230,160}}</string>
                <key>offset</key>
                <string>{12,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,288},{230,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,0},{110,136}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,304},{110,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{110,134}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,301},{110,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,137},{108,156}}</string>
                <key>offset</key>
                <string>{4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,300},{108,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,137},{112,150}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,304},{112,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,288},{112,154}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,302},{112,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,459},{122,158}}</string>
                <key>offset</key>
                <string>{-1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,300},{122,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,302},{114,156}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,301},{114,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,443},{110,156}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,304},{110,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot6.png</string>
            <key>size</key>
            <string>{480,2367}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:36e4c51b140867ad0f27cece64b957c9$</string>
            <key>textureFileName</key>
            <string>mot6.png</string>
        </dict>
    </dict>
</plist>
