<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountidle/mountidle_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1488},{186,176}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,276},{186,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,1068},{200,176}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,276},{200,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,1080},{198,174}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,278},{198,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1379},{196,172}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,280},{196,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1070},{198,172}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,280},{198,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,1528},{186,174}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,279},{186,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,356},{304,172}}</string>
                <key>offset</key>
                <string>{-47,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{313,284},{304,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,185},{308,170}}</string>
                <key>offset</key>
                <string>{-41,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,285},{308,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,191},{310,172}}</string>
                <key>offset</key>
                <string>{-43,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,286},{310,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,529},{302,170}}</string>
                <key>offset</key>
                <string>{-40,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,286},{302,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,372},{304,170}}</string>
                <key>offset</key>
                <string>{-39,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,284},{304,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,738},{294,172}}</string>
                <key>offset</key>
                <string>{-43,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,284},{294,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1552},{186,164}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,288},{186,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,911},{200,158}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,291},{200,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,1243},{198,158}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,292},{198,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,1245},{196,160}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,292},{196,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1214},{198,164}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,290},{198,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1551},{186,168}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,288},{186,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,911},{186,204}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,263},{186,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1406},{186,198}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,262},{186,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{791,873},{200,194}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,252},{200,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,873},{200,206}}</string>
                <key>offset</key>
                <string>{0,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,236},{200,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,989},{198,224}}</string>
                <key>offset</key>
                <string>{0,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,242},{198,224}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,750},{200,238}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,244},{200,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,1255},{188,232}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,245},{188,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1116},{188,234}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,244},{188,234}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,543},{296,194}}</string>
                <key>offset</key>
                <string>{-34,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,276},{296,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,551},{294,198}}</string>
                <key>offset</key>
                <string>{-33,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,273},{294,198}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,364},{304,186}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,270},{304,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,197},{306,174}}</string>
                <key>offset</key>
                <string>{-30,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,276},{306,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,700},{294,172}}</string>
                <key>offset</key>
                <string>{-21,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,283},{294,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,0},{308,184}}</string>
                <key>offset</key>
                <string>{-15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,278},{308,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{316,190}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,277},{316,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,0},{312,196}}</string>
                <key>offset</key>
                <string>{-16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,277},{312,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1703},{178,186}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,279},{178,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,1665},{178,186}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,275},{178,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,1351},{188,176}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,274},{188,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1717},{186,156}}</string>
                <key>offset</key>
                <string>{1,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,279},{186,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,1605},{186,154}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,284},{186,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{197,1402},{188,148}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,281},{188,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1874},{174,160}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,276},{174,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1874},{174,170}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,277},{174,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot7.png</string>
            <key>size</key>
            <string>{991,2044}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9ee877fbfdaf58215b70f1ac3b97f418$</string>
            <key>textureFileName</key>
            <string>mot7.png</string>
        </dict>
    </dict>
</plist>
