<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mountidle/mountidle_down_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{142,150}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,316},{142,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,0},{148,160}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,306},{148,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,169},{146,172}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,294},{146,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,0},{142,152}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,314},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,0},{142,152}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,315},{142,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,0},{144,152}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,316},{144,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,736},{292,184}}</string>
                <key>offset</key>
                <string>{-24,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{342,287},{292,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{723,0},{292,168}}</string>
                <key>offset</key>
                <string>{-20,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,290},{292,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,153},{298,172}}</string>
                <key>offset</key>
                <string>{-20,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,289},{298,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,682},{294,180}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{348,286},{294,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,525},{294,180}}</string>
                <key>offset</key>
                <string>{-15,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,285},{294,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,326},{288,174}}</string>
                <key>offset</key>
                <string>{-18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,289},{288,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,326},{144,176}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,300},{144,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,334},{144,178}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,301},{144,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,543},{152,192}}</string>
                <key>offset</key>
                <string>{4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,280},{152,192}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,161},{150,172}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,300},{150,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,169},{144,176}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,296},{144,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountidle/mountidle_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,153},{146,172}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,299},{146,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,346},{140,196}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,274},{140,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,513},{144,190}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,275},{144,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,863},{148,200}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,273},{148,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,1277},{142,218}}</string>
                <key>offset</key>
                <string>{2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,263},{142,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1474},{144,238}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,248},{144,238}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1528},{150,248}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,236},{150,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,706},{144,196}}</string>
                <key>offset</key>
                <string>{-2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,263},{144,196}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,1277},{146,210}}</string>
                <key>offset</key>
                <string>{3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,255},{146,210}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,706},{290,180}}</string>
                <key>offset</key>
                <string>{-28,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,276},{290,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,346},{304,178}}</string>
                <key>offset</key>
                <string>{-27,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,279},{304,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,503},{300,178}}</string>
                <key>offset</key>
                <string>{-26,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,278},{300,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,921},{304,184}}</string>
                <key>offset</key>
                <string>{-28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,272},{304,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,1086},{302,190}}</string>
                <key>offset</key>
                <string>{-27,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,268},{302,190}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1106},{306,194}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,265},{306,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,903},{308,182}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,277},{308,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1068},{288,200}}</string>
                <key>offset</key>
                <string>{-30,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,282},{288,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1269},{148,204}}</string>
                <key>offset</key>
                <string>{7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,278},{148,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,863},{144,204}}</string>
                <key>offset</key>
                <string>{3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,271},{144,204}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1277},{142,212}}</string>
                <key>offset</key>
                <string>{-2,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,265},{142,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1496},{152,232}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,253},{152,232}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,1514},{164,236}}</string>
                <key>offset</key>
                <string>{5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,242},{164,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,1301},{170,212}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,266},{170,212}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,1490},{172,228}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,256},{172,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>mountmove/mountmove_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{753,1301},{142,226}}</string>
                <key>offset</key>
                <string>{2,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,244},{142,226}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mot8.png</string>
            <key>size</key>
            <string>{1024,1776}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f7b6fd095f82620a931378a4c4b0b73a$</string>
            <key>textureFileName</key>
            <string>mot8.png</string>
        </dict>
    </dict>
</plist>
