<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1204},{66,132}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,302},{66,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1513},{86,138}}</string>
                <key>offset</key>
                <string>{-6,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,290},{86,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1750},{72,160}}</string>
                <key>offset</key>
                <string>{-4,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,268},{72,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,936},{54,142}}</string>
                <key>offset</key>
                <string>{10,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,286},{54,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1781},{72,120}}</string>
                <key>offset</key>
                <string>{19,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,308},{72,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,1069},{106,124}}</string>
                <key>offset</key>
                <string>{-2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,302},{106,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,660},{182,122}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,321},{182,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,688},{176,120}}</string>
                <key>offset</key>
                <string>{30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,325},{176,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,406},{208,124}}</string>
                <key>offset</key>
                <string>{24,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,321},{208,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1},{242,132}}</string>
                <key>offset</key>
                <string>{2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{393,302},{242,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,134},{230,148}}</string>
                <key>offset</key>
                <string>{-19,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,286},{230,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1435},{76,132}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,303},{76,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,1069},{48,134}}</string>
                <key>offset</key>
                <string>{-20,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,296},{48,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1335},{90,154}}</string>
                <key>offset</key>
                <string>{-49,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,279},{90,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,936},{136,132}}</string>
                <key>offset</key>
                <string>{-73,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,301},{136,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,749},{150,120}}</string>
                <key>offset</key>
                <string>{-67,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,313},{150,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,622},{114,126}}</string>
                <key>offset</key>
                <string>{-28,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,301},{114,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,809},{166,126}}</string>
                <key>offset</key>
                <string>{56,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,315},{166,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,783},{174,134}}</string>
                <key>offset</key>
                <string>{67,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,304},{174,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,283},{210,138}}</string>
                <key>offset</key>
                <string>{48,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,295},{210,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{260,132}}</string>
                <key>offset</key>
                <string>{14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,299},{260,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{250,128}}</string>
                <key>offset</key>
                <string>{-23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,307},{250,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2086},{64,132}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,302},{64,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1372},{90,140}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,295},{90,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,408},{78,160}}</string>
                <key>offset</key>
                <string>{6,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,290},{78,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1914},{64,128}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,322},{64,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1394},{84,130}}</string>
                <key>offset</key>
                <string>{-26,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,320},{84,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1034},{112,130}}</string>
                <key>offset</key>
                <string>{5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,300},{112,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,563},{188,124}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,309},{188,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,531},{200,128}}</string>
                <key>offset</key>
                <string>{10,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,305},{200,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,422},{200,140}}</string>
                <key>offset</key>
                <string>{7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,292},{200,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,263},{218,142}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,291},{218,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,870},{158,140}}</string>
                <key>offset</key>
                <string>{46,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,294},{158,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1194},{98,140}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,288},{98,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1257},{92,114}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,313},{92,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,969},{114,64}}</string>
                <key>offset</key>
                <string>{-32,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,394},{114,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,2033},{62,136}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,297},{62,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1011},{94,124}}</string>
                <key>offset</key>
                <string>{-47,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,320},{94,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,918},{144,50}}</string>
                <key>offset</key>
                <string>{30,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,408},{144,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1165},{102,148}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,295},{102,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1314},{98,120}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,331},{98,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,569},{118,52}}</string>
                <key>offset</key>
                <string>{32,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,390},{118,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1079},{66,132}}</string>
                <key>offset</key>
                <string>{-7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,302},{66,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2042},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,1992},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1988},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,1902},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1783},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_ 0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1955},{66,130}}</string>
                <key>offset</key>
                <string>{-7,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1525},{76,132}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,303},{76,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1470},{76,132}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,303},{76,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,1337},{76,132}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,303},{76,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1603},{76,130}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,305},{76,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1011},{78,130}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,305},{78,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1568},{76,130}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,305},{76,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_ 0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1490},{76,130}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,305},{76,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1783},{64,132}}</string>
                <key>offset</key>
                <string>{5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,302},{64,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1911},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1861},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1857},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1474},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,1343},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_ 0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1212},{66,130}}</string>
                <key>offset</key>
                <string>{5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,304},{66,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1142},{78,126}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,308},{78,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1605},{76,124}}</string>
                <key>offset</key>
                <string>{-3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,308},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,1734},{74,126}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,308},{74,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1269},{78,124}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,308},{78,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,283},{80,124}}</string>
                <key>offset</key>
                <string>{6,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,306},{80,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,1730},{74,126}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,306},{74,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{337,1136},{92,120}}</string>
                <key>offset</key>
                <string>{12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,305},{92,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1658},{72,124}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,304},{72,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1699},{76,126}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,303},{76,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,1652},{74,128}}</string>
                <key>offset</key>
                <string>{2,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,303},{74,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1826},{72,128}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,302},{72,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1621},{76,128}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,303},{76,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m1.png</string>
            <key>size</key>
            <string>{512,2219}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71b23fd7cecf6b14f573762fff549cfb$</string>
            <key>textureFileName</key>
            <string>m1.png</string>
        </dict>
    </dict>
</plist>
