<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3039},{182,146}}</string>
                <key>offset</key>
                <string>{15,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,292},{182,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,1498},{238,182}}</string>
                <key>offset</key>
                <string>{-63,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,256},{238,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,806},{212,162}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,294},{212,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2122},{210,126}}</string>
                <key>offset</key>
                <string>{42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,325},{210,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2181},{210,122}}</string>
                <key>offset</key>
                <string>{57,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,318},{210,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1000},{278,128}}</string>
                <key>offset</key>
                <string>{25,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,311},{278,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1777},{254,200}}</string>
                <key>offset</key>
                <string>{-67,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,238},{254,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1548},{258,228}}</string>
                <key>offset</key>
                <string>{-64,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,211},{258,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,1303},{242,194}}</string>
                <key>offset</key>
                <string>{-66,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,245},{242,194}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2304},{204,144}}</string>
                <key>offset</key>
                <string>{-54,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{356,292},{204,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,3575},{112,200}}</string>
                <key>offset</key>
                <string>{-11,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,239},{112,200}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,3000},{144,174}}</string>
                <key>offset</key>
                <string>{-11,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,265},{144,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,3701},{98,146}}</string>
                <key>offset</key>
                <string>{-14,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,291},{98,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,1681},{252,146}}</string>
                <key>offset</key>
                <string>{-54,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,288},{252,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{378,166}}</string>
                <key>offset</key>
                <string>{117,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,291},{378,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,589},{332,138}}</string>
                <key>offset</key>
                <string>{31,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,298},{332,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1409},{262,138}}</string>
                <key>offset</key>
                <string>{44,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,299},{262,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,869},{292,130}}</string>
                <key>offset</key>
                <string>{82,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,307},{292,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,167},{372,202}}</string>
                <key>offset</key>
                <string>{-37,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,280},{372,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1129},{272,136}}</string>
                <key>offset</key>
                <string>{-99,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,300},{272,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1266},{266,142}}</string>
                <key>offset</key>
                <string>{-96,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,294},{266,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3573},{148,140}}</string>
                <key>offset</key>
                <string>{12,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,296},{148,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,472},{158,206}}</string>
                <key>offset</key>
                <string>{27,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,231},{158,206}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2400},{104,172}}</string>
                <key>offset</key>
                <string>{-4,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,265},{104,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2449},{186,144}}</string>
                <key>offset</key>
                <string>{-19,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,290},{186,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,728},{294,140}}</string>
                <key>offset</key>
                <string>{87,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,289},{294,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,1120},{230,182}}</string>
                <key>offset</key>
                <string>{36,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,241},{230,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1978},{220,202}}</string>
                <key>offset</key>
                <string>{-58,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{344,263},{220,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,2249},{206,130}}</string>
                <key>offset</key>
                <string>{-54,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,296},{206,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1967},{250,154}}</string>
                <key>offset</key>
                <string>{-32,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,273},{250,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,370},{346,218}}</string>
                <key>offset</key>
                <string>{-1,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,229},{346,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{255,1828},{254,138}}</string>
                <key>offset</key>
                <string>{47,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,300},{254,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,969},{218,150}}</string>
                <key>offset</key>
                <string>{50,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,301},{218,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2437},{196,132}}</string>
                <key>offset</key>
                <string>{48,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,303},{196,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,3236},{114,218}}</string>
                <key>offset</key>
                <string>{8,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,217},{114,218}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2841},{146,158}}</string>
                <key>offset</key>
                <string>{4,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,277},{146,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3845},{88,170}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,316},{88,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,3175},{118,60}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,383},{118,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,3305},{174,142}}</string>
                <key>offset</key>
                <string>{34,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,315},{174,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{205,2380},{202,56}}</string>
                <key>offset</key>
                <string>{-47,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,400},{202,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2273},{94,126}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,310},{94,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,0},{132,80}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,411},{132,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2743},{182,148}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,290},{182,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3013},{182,146}}</string>
                <key>offset</key>
                <string>{22,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,292},{182,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2717},{182,148}}</string>
                <key>offset</key>
                <string>{22,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,290},{182,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2594},{182,148}}</string>
                <key>offset</key>
                <string>{21,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,290},{182,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2122},{78,150}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,287},{78,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,3876},{90,150}}</string>
                <key>offset</key>
                <string>{-10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,287},{90,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,3582},{100,150}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,287},{100,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,3845},{92,152}}</string>
                <key>offset</key>
                <string>{-11,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,285},{92,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,2892},{182,146}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,289},{182,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,3160},{182,144}}</string>
                <key>offset</key>
                <string>{-21,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,291},{182,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,2866},{182,146}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,289},{182,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2570},{184,146}}</string>
                <key>offset</key>
                <string>{-21,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,289},{184,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,3876},{98,122}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,305},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,3582},{104,118}}</string>
                <key>offset</key>
                <string>{12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,313},{104,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2573},{128,122}}</string>
                <key>offset</key>
                <string>{17,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,305},{128,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,3455},{148,126}}</string>
                <key>offset</key>
                <string>{23,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,308},{148,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,218},{138,120}}</string>
                <key>offset</key>
                <string>{19,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,310},{138,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,679},{178,126}}</string>
                <key>offset</key>
                <string>{21,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,298},{178,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3186},{176,126}}</string>
                <key>offset</key>
                <string>{23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,307},{176,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3313},{174,130}}</string>
                <key>offset</key>
                <string>{9,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,300},{174,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3444},{170,128}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,300},{170,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,3448},{166,126}}</string>
                <key>offset</key>
                <string>{10,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,302},{166,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,3733},{98,142}}</string>
                <key>offset</key>
                <string>{-6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,293},{98,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,3714},{112,130}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,300},{112,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2696},{118,144}}</string>
                <key>offset</key>
                <string>{-12,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,293},{118,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,339},{136,132}}</string>
                <key>offset</key>
                <string>{-17,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,295},{136,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,81},{128,136}}</string>
                <key>offset</key>
                <string>{-13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,296},{128,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m10.png</string>
            <key>size</key>
            <string>{512,4026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d72df238a1d39516eb036692877dae9$</string>
            <key>textureFileName</key>
            <string>m10.png</string>
        </dict>
    </dict>
</plist>
