<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,645},{220,148}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,297},{220,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,218},{204,138}}</string>
                <key>offset</key>
                <string>{3,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,293},{204,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{567,125},{192,136}}</string>
                <key>offset</key>
                <string>{1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,294},{192,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,401},{188,144}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,287},{188,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,578},{150,154}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,288},{150,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,1454},{132,180}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,287},{132,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,1452},{132,178}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,295},{132,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{667,1035},{220,152}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,290},{220,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,498},{128,162}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,298},{128,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{929,270},{88,154}}</string>
                <key>offset</key>
                <string>{-39,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,300},{88,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,661},{136,160}}</string>
                <key>offset</key>
                <string>{-64,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,299},{136,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,482},{124,146}}</string>
                <key>offset</key>
                <string>{-26,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,291},{124,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,546},{136,148}}</string>
                <key>offset</key>
                <string>{49,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,289},{136,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,882},{166,152}}</string>
                <key>offset</key>
                <string>{69,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{498,290},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{829,733},{172,148}}</string>
                <key>offset</key>
                <string>{63,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,297},{172,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{901,1389},{118,170}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,290},{118,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,498},{224,146}}</string>
                <key>offset</key>
                <string>{-3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,298},{224,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,133},{222,136}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,307},{222,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,1341},{224,160}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,305},{224,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,1144},{200,156}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,294},{200,156}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,262},{140,138}}</string>
                <key>offset</key>
                <string>{-6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,291},{140,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,198},{118,138}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,291},{118,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,0},{114,132}}</string>
                <key>offset</key>
                <string>{-4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,297},{114,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1247},{224,152}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,292},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,81},{210,124}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,307},{210,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,0},{210,124}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,313},{210,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{200,62}}</string>
                <key>offset</key>
                <string>{4,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,384},{200,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,425},{100,152}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,308},{100,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,63},{136,134}}</string>
                <key>offset</key>
                <string>{-39,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,320},{136,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,0},{196,80}}</string>
                <key>offset</key>
                <string>{-26,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,379},{196,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,206},{220,136}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,307},{220,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,83},{218,134}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,321},{218,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,0},{212,82}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,383},{212,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,991},{220,152}}</string>
                <key>offset</key>
                <string>{8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,290},{220,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1128},{220,154}}</string>
                <key>offset</key>
                <string>{9,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,289},{220,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,975},{220,152}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,291},{220,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,822},{220,152}}</string>
                <key>offset</key>
                <string>{9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,291},{220,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1389},{118,170}}</string>
                <key>offset</key>
                <string>{-5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,290},{118,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1220},{116,168}}</string>
                <key>offset</key>
                <string>{-6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,292},{116,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,1051},{114,168}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,292},{114,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,882},{116,168}}</string>
                <key>offset</key>
                <string>{-7,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,292},{116,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1188},{224,152}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,292},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1094},{224,152}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,292},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1301},{226,152}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,292},{226,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,941},{224,152}}</string>
                <key>offset</key>
                <string>{-3,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,292},{224,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,409},{242,140}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,294},{242,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,343},{242,138}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,294},{242,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,357},{242,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,294},{242,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,270},{242,138}}</string>
                <key>offset</key>
                <string>{0,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,294},{242,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,629},{120,162}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,296},{120,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,697},{94,166}}</string>
                <key>offset</key>
                <string>{-15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,296},{94,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1400},{108,170}}</string>
                <key>offset</key>
                <string>{-11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,295},{108,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,1283},{104,168}}</string>
                <key>offset</key>
                <string>{-21,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,297},{104,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,550},{250,146}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,298},{250,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,697},{254,146}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,300},{254,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,794},{252,146}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,298},{252,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,844},{256,146}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,300},{256,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m103.png</string>
            <key>size</key>
            <string>{1019,1634}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e60eb92b4a36d9b5fb15bd8092a80a$</string>
            <key>textureFileName</key>
            <string>m103.png</string>
        </dict>
    </dict>
</plist>
