<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1823},{102,154}}</string>
                <key>offset</key>
                <string>{-3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,287},{102,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,611},{102,342}}</string>
                <key>offset</key>
                <string>{-3,213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,0},{102,342}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,204},{106,406}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,182},{106,406}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2055},{272,152}}</string>
                <key>offset</key>
                <string>{-4,109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,199},{272,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1924},{102,152}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,284},{102,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1509},{102,170}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,267},{102,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,717},{78,164}}</string>
                <key>offset</key>
                <string>{3,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,283},{78,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,541},{122,340}}</string>
                <key>offset</key>
                <string>{-7,214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,0},{122,340}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,204},{246,336}}</string>
                <key>offset</key>
                <string>{86,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,179},{246,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2386},{374,172}}</string>
                <key>offset</key>
                <string>{-129,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,194},{374,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1566},{98,166}}</string>
                <key>offset</key>
                <string>{10,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,279},{98,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,387},{64,182}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,264},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1839},{100,150}}</string>
                <key>offset</key>
                <string>{3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,286},{100,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,541},{104,336}}</string>
                <key>offset</key>
                <string>{3,216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,0},{104,336}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,878},{102,274}}</string>
                <key>offset</key>
                <string>{2,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,180},{102,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{420,202}}</string>
                <key>offset</key>
                <string>{4,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{306,192},{420,202}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1928},{100,150}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,283},{100,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1658},{102,164}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,270},{102,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2208},{228,124}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,326},{228,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2325},{278,60}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,387},{278,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,882},{114,166}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,313},{114,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1978},{148,76}}</string>
                <key>offset</key>
                <string>{11,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,392},{148,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2079},{224,148}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,309},{224,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2228},{268,96}}</string>
                <key>offset</key>
                <string>{-1,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,380},{268,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1596},{102,166}}</string>
                <key>offset</key>
                <string>{-4,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,271},{102,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1763},{102,164}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,273},{102,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1487},{102,170}}</string>
                <key>offset</key>
                <string>{-3,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,267},{102,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1429},{102,170}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,267},{102,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,570},{62,176}}</string>
                <key>offset</key>
                <string>{2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,270},{62,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,930},{66,176}}</string>
                <key>offset</key>
                <string>{-2,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,270},{66,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,747},{68,182}}</string>
                <key>offset</key>
                <string>{4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,264},{68,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,204},{64,182}}</string>
                <key>offset</key>
                <string>{8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,264},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,1680},{102,158}}</string>
                <key>offset</key>
                <string>{3,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,276},{102,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1765},{102,158}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,276},{102,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,1429},{102,166}}</string>
                <key>offset</key>
                <string>{2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,268},{102,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,1600},{102,164}}</string>
                <key>offset</key>
                <string>{2,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,270},{102,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,1316},{102,170}}</string>
                <key>offset</key>
                <string>{-2,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,266},{102,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1399},{98,166}}</string>
                <key>offset</key>
                <string>{4,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,262},{98,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1071},{102,178}}</string>
                <key>offset</key>
                <string>{-3,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,259},{102,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1049},{104,172}}</string>
                <key>offset</key>
                <string>{-8,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,256},{104,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,882},{102,188}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,261},{102,188}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,355},{72,186}}</string>
                <key>offset</key>
                <string>{2,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,260},{72,186}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,174},{76,180}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,263},{76,180}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,1},{80,172}}</string>
                <key>offset</key>
                <string>{-3,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,256},{80,172}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,542},{74,174}}</string>
                <key>offset</key>
                <string>{1,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,254},{74,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1153},{96,184}}</string>
                <key>offset</key>
                <string>{9,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,260},{96,184}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,1338},{100,170}}</string>
                <key>offset</key>
                <string>{1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,264},{100,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,1250},{98,178}}</string>
                <key>offset</key>
                <string>{-3,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,262},{98,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1222},{100,176}}</string>
                <key>offset</key>
                <string>{3,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,258},{100,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,954},{100,182}}</string>
                <key>offset</key>
                <string>{6,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,256},{100,182}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1137},{100,178}}</string>
                <key>offset</key>
                <string>{4,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,264},{100,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m105.png</string>
            <key>size</key>
            <string>{512,2559}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5dea1d81fd638be6674d780012c5f15d$</string>
            <key>textureFileName</key>
            <string>m105.png</string>
        </dict>
    </dict>
</plist>
