<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1},{74,126}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,297},{74,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,251},{74,132}}</string>
                <key>offset</key>
                <string>{-1,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,290},{74,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,523},{76,140}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,290},{76,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,122},{76,128}}</string>
                <key>offset</key>
                <string>{-1,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,306},{76,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1},{76,122}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,313},{76,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,1},{76,120}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,312},{76,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,386},{74,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,294},{74,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,531},{100,138}}</string>
                <key>offset</key>
                <string>{-38,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,299},{100,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,664},{92,138}}</string>
                <key>offset</key>
                <string>{-42,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,298},{92,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,795},{92,142}}</string>
                <key>offset</key>
                <string>{-4,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,295},{92,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,394},{96,136}}</string>
                <key>offset</key>
                <string>{6,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,301},{96,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,122},{146,128}}</string>
                <key>offset</key>
                <string>{30,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,309},{146,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,124},{98,128}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,309},{98,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,799},{94,140}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,297},{94,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1244},{82,148}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,302},{82,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1083},{82,146}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,304},{82,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,803},{80,142}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,298},{80,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,531},{78,140}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,297},{78,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,253},{78,134}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,303},{78,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,259},{80,134}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,306},{80,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1230},{80,146}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,297},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,118},{78,126}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,299},{78,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_ 0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,378},{72,134}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,285},{72,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{82,116}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,307},{82,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,384},{104,134}}</string>
                <key>offset</key>
                <string>{-42,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,304},{104,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_ 0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,954},{94,142}}</string>
                <key>offset</key>
                <string>{-49,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,295},{94,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1},{94,120}}</string>
                <key>offset</key>
                <string>{-46,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,317},{94,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_ 0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,1097},{88,146}}</string>
                <key>offset</key>
                <string>{3,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,305},{88,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_ 0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,1238},{82,148}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,306},{82,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_ 0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,1},{90,120}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,332},{90,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,394},{76,134}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,297},{76,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,519},{76,136}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,296},{76,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,519},{76,136}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,297},{76,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,388},{76,134}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,298},{76,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,940},{94,142}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,295},{94,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,813},{94,142}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,295},{94,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,670},{94,140}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,297},{94,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,811},{94,142}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,295},{94,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1101},{80,146}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,293},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,1101},{80,146}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,294},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,938},{80,144}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,296},{80,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,1091},{80,146}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,294},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,251},{74,134}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,294},{74,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,251},{74,132}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,296},{74,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,128},{74,130}}</string>
                <key>offset</key>
                <string>{-1,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,298},{74,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,245},{74,132}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,296},{74,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,672},{94,140}}</string>
                <key>offset</key>
                <string>{-19,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,297},{94,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,656},{92,138}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,299},{92,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,660},{94,138}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,299},{94,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,521},{92,138}}</string>
                <key>offset</key>
                <string>{-18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,299},{92,138}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1228},{80,146}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,297},{80,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1083},{80,144}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,299},{80,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,956},{80,144}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,299},{80,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,946},{80,144}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,299},{80,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m106.png</string>
            <key>size</key>
            <string>{505,1393}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:677835294319c6aef10f1e942ecf278f$</string>
            <key>textureFileName</key>
            <string>m106.png</string>
        </dict>
    </dict>
</plist>
