<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,1155},{110,164}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,273},{110,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1304},{112,164}}</string>
                <key>offset</key>
                <string>{-8,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,273},{112,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1155},{112,162}}</string>
                <key>offset</key>
                <string>{-8,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,275},{112,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,1155},{112,164}}</string>
                <key>offset</key>
                <string>{-5,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,273},{112,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,483},{232,164}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,273},{232,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,481},{232,164}}</string>
                <key>offset</key>
                <string>{-26,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{370,273},{232,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,318},{236,164}}</string>
                <key>offset</key>
                <string>{-29,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,273},{236,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,316},{236,164}}</string>
                <key>offset</key>
                <string>{-30,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{364,273},{236,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,815},{136,178}}</string>
                <key>offset</key>
                <string>{5,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,278},{136,178}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,819},{136,176}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,280},{136,176}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,648},{140,170}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,279},{140,170}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,815},{138,168}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,279},{138,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,996},{114,158}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,277},{114,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,1318},{110,160}}</string>
                <key>offset</key>
                <string>{0,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,275},{110,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,1320},{110,152}}</string>
                <key>offset</key>
                <string>{3,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,274},{110,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1151},{114,152}}</string>
                <key>offset</key>
                <string>{5,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,276},{114,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{248,150}}</string>
                <key>offset</key>
                <string>{-42,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,276},{248,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,151},{242,164}}</string>
                <key>offset</key>
                <string>{-40,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,272},{242,164}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,159},{240,158}}</string>
                <key>offset</key>
                <string>{-40,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{352,273},{240,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,0},{246,158}}</string>
                <key>offset</key>
                <string>{-43,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,275},{246,158}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,994},{128,160}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,280},{128,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,984},{130,166}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,275},{130,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,648},{138,166}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,279},{138,166}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,646},{144,168}}</string>
                <key>offset</key>
                <string>{-7,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,280},{144,168}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m114.png</string>
            <key>size</key>
            <string>{495,1478}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae0ff0af9ad34286820b247a593a25c$</string>
            <key>textureFileName</key>
            <string>m114.png</string>
        </dict>
    </dict>
</plist>
