<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1248},{206,274}}</string>
                <key>offset</key>
                <string>{4,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,101},{206,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,609},{240,314}}</string>
                <key>offset</key>
                <string>{2,210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,17},{240,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,1},{262,322}}</string>
                <key>offset</key>
                <string>{3,209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,14},{262,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,475},{240,366}}</string>
                <key>offset</key>
                <string>{0,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,90},{240,366}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,324},{254,282}}</string>
                <key>offset</key>
                <string>{1,146}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,97},{254,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1203},{212,282}}</string>
                <key>offset</key>
                <string>{-1,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,173},{212,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2566},{120,278}}</string>
                <key>offset</key>
                <string>{-17,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,101},{120,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2757},{120,316}}</string>
                <key>offset</key>
                <string>{-10,211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,15},{120,316}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1115},{106,322}}</string>
                <key>offset</key>
                <string>{2,211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,12},{106,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{274,322}}</string>
                <key>offset</key>
                <string>{90,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,90},{274,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{857,1438},{166,288}}</string>
                <key>offset</key>
                <string>{-16,145}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,95},{166,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2279},{146,286}}</string>
                <key>offset</key>
                <string>{-31,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,173},{146,286}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1486},{202,270}}</string>
                <key>offset</key>
                <string>{-5,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,102},{202,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,607},{238,314}}</string>
                <key>offset</key>
                <string>{-5,213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,14},{238,314}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,152},{260,322}}</string>
                <key>offset</key>
                <string>{-6,212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,11},{260,322}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,924},{228,278}}</string>
                <key>offset</key>
                <string>{-2,156}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{396,89},{228,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,324},{250,284}}</string>
                <key>offset</key>
                <string>{-3,147}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,95},{250,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,557},{230,278}}</string>
                <key>offset</key>
                <string>{0,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,174},{230,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1523},{196,214}}</string>
                <key>offset</key>
                <string>{-6,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,215},{196,214}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1115},{210,154}}</string>
                <key>offset</key>
                <string>{1,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,378},{210,154}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2013},{184,228}}</string>
                <key>offset</key>
                <string>{14,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,211},{184,228}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1},{268,150}}</string>
                <key>offset</key>
                <string>{14,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,402},{268,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2030},{180,236}}</string>
                <key>offset</key>
                <string>{3,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,209},{180,236}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1125},{218,122}}</string>
                <key>offset</key>
                <string>{-4,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,406},{218,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,1},{214,288}}</string>
                <key>offset</key>
                <string>{-2,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,169},{214,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,1270},{200,276}}</string>
                <key>offset</key>
                <string>{0,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,183},{200,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1195},{206,282}}</string>
                <key>offset</key>
                <string>{-2,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,175},{206,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1478},{200,272}}</string>
                <key>offset</key>
                <string>{0,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,183},{200,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2346},{142,290}}</string>
                <key>offset</key>
                <string>{-36,69}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,170},{142,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,1816},{168,280}}</string>
                <key>offset</key>
                <string>{-43,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,182},{168,280}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,1994},{154,284}}</string>
                <key>offset</key>
                <string>{-30,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,176},{154,284}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2014},{168,276}}</string>
                <key>offset</key>
                <string>{-42,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,183},{168,276}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,842},{234,282}}</string>
                <key>offset</key>
                <string>{-1,71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,172},{234,282}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,922},{220,272}}</string>
                <key>offset</key>
                <string>{-4,63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,185},{220,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,836},{226,278}}</string>
                <key>offset</key>
                <string>{-1,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{398,177},{226,278}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,290},{214,266}}</string>
                <key>offset</key>
                <string>{-3,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,186},{214,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2508},{150,248}}</string>
                <key>offset</key>
                <string>{-8,62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,198},{150,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2097},{154,248}}</string>
                <key>offset</key>
                <string>{-8,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,200},{154,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2267},{156,240}}</string>
                <key>offset</key>
                <string>{-9,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,206},{156,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2483},{150,248}}</string>
                <key>offset</key>
                <string>{-8,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,199},{150,248}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2242},{158,240}}</string>
                <key>offset</key>
                <string>{-8,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,208},{158,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1738},{194,274}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,195},{194,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1547},{192,268}}</string>
                <key>offset</key>
                <string>{-13,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,196},{192,268}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{815,1727},{192,266}}</string>
                <key>offset</key>
                <string>{-16,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,200},{192,266}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1757},{194,272}}</string>
                <key>offset</key>
                <string>{-12,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,196},{194,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1751},{190,262}}</string>
                <key>offset</key>
                <string>{-15,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,201},{190,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2554},{142,274}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,190},{142,274}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2279},{146,270}}</string>
                <key>offset</key>
                <string>{7,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,191},{146,270}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2550},{146,264}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,197},{146,264}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2732},{142,272}}</string>
                <key>offset</key>
                <string>{7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,191},{142,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2291},{150,262}}</string>
                <key>offset</key>
                <string>{8,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,198},{150,262}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m115.png</string>
            <key>size</key>
            <string>{1024,3074}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f22ace2a95abfcc32810d4c2eaadba4b$</string>
            <key>textureFileName</key>
            <string>m115.png</string>
        </dict>
    </dict>
</plist>
