<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,1325},{124,124}}</string>
                <key>offset</key>
                <string>{-15,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,295},{124,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,156},{144,116}}</string>
                <key>offset</key>
                <string>{-25,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,294},{144,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,49},{118,116}}</string>
                <key>offset</key>
                <string>{20,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,294},{118,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1853},{124,182}}</string>
                <key>offset</key>
                <string>{26,48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,228},{124,182}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1718},{96,152}}</string>
                <key>offset</key>
                <string>{-4,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,259},{96,152}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,765},{136,122}}</string>
                <key>offset</key>
                <string>{10,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,289},{136,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,281},{90,118}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,297},{90,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,283},{136,118}}</string>
                <key>offset</key>
                <string>{-36,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,297},{136,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,402},{128,118}}</string>
                <key>offset</key>
                <string>{-20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,296},{128,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1007},{100,124}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,296},{100,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1575},{132,134}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{132,134}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,517},{126,118}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,296},{126,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1718},{166,134}}</string>
                <key>offset</key>
                <string>{13,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,281},{166,134}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,406},{88,180}}</string>
                <key>offset</key>
                <string>{-23,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,237},{88,180}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,1638},{108,140}}</string>
                <key>offset</key>
                <string>{-25,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,278},{108,140}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,1450},{110,132}}</string>
                <key>offset</key>
                <string>{6,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,284},{110,132}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,164},{204,116}}</string>
                <key>offset</key>
                <string>{15,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{402,296},{204,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,166},{154,116}}</string>
                <key>offset</key>
                <string>{-23,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,295},{154,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,1583},{116,134}}</string>
                <key>offset</key>
                <string>{-13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,296},{116,134}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_left_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1507},{120,124}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1200},{124,124}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,296},{124,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1382},{142,124}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{142,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,1509},{118,128}}</string>
                <key>offset</key>
                <string>{-21,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,292},{118,128}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1853},{126,182}}</string>
                <key>offset</key>
                <string>{-29,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,239},{126,182}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1632},{106,136}}</string>
                <key>offset</key>
                <string>{5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,281},{106,136}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,831},{142,122}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,296},{142,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1257},{96,124}}</string>
                <key>offset</key>
                <string>{8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,293},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1384},{130,124}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,294},{130,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1779},{126,152}}</string>
                <key>offset</key>
                <string>{15,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,295},{126,152}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>attack/attack_up_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,757},{100,122}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{100,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,283},{76,122}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,297},{76,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,521},{162,118}}</string>
                <key>offset</key>
                <string>{38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,303},{162,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_down_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,0},{150,48}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{397,366},{150,48}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,640},{142,120}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,297},{142,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,273},{84,116}}</string>
                <key>offset</key>
                <string>{-14,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,304},{84,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_left_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,0},{142,48}}</string>
                <key>offset</key>
                <string>{-53,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{365,385},{142,48}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,390},{82,122}}</string>
                <key>offset</key>
                <string>{-12,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,300},{82,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,47},{160,108}}</string>
                <key>offset</key>
                <string>{-38,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{371,308},{160,108}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>dead/dead_up_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{160,46}}</string>
                <key>offset</key>
                <string>{15,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,401},{160,46}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,882},{100,124}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,296},{100,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1253},{96,124}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1132},{96,124}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,402},{96,120}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{96,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,49},{104,114}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,298},{104,114}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,49},{110,114}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,298},{110,114}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,281},{112,116}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,296},{112,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_down_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,398},{108,118}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,297},{108,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1450},{120,124}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1259},{120,124}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,295},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,954},{120,122}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,296},{120,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,888},{120,122}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,297},{120,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1011},{120,124}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,296},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1136},{122,122}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,297},{122,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1077},{122,122}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{122,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_left_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,523},{122,120}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,296},{122,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,587},{98,122}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,297},{98,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1128},{96,124}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1003},{96,124}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,298},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{96,122}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,299},{96,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{102,120}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,299},{102,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,644},{110,120}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,298},{110,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,710},{112,120}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,298},{112,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>idle/idle_up_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,761},{108,120}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,297},{108,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,882},{100,124}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,296},{100,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1253},{96,124}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,1132},{96,124}}</string>
                <key>offset</key>
                <string>{-5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,402},{96,120}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,297},{96,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,49},{104,114}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,298},{104,114}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,49},{110,114}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,298},{110,114}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{85,281},{112,116}}</string>
                <key>offset</key>
                <string>{-5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{428,296},{112,116}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_down_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,398},{108,118}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,297},{108,118}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1450},{120,124}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1259},{120,124}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,295},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,954},{120,122}}</string>
                <key>offset</key>
                <string>{-4,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,296},{120,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,888},{120,122}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,297},{120,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1011},{120,124}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,296},{120,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1136},{122,122}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,297},{122,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,1077},{122,122}}</string>
                <key>offset</key>
                <string>{-6,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,296},{122,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_left_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,523},{122,120}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,296},{122,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,587},{98,122}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,297},{98,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1128},{96,124}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,297},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1003},{96,124}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,298},{96,124}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,880},{96,122}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,299},{96,122}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,636},{102,120}}</string>
                <key>offset</key>
                <string>{0,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,299},{102,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,644},{110,120}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,298},{110,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,710},{112,120}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,298},{112,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
            <key>move/move_up_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,761},{108,120}}</string>
                <key>offset</key>
                <string>{-2,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,297},{108,120}}</string>
                <key>sourceSize</key>
                <string>{978,734}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m116.png</string>
            <key>size</key>
            <string>{511,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12d0251463af78ac8f1f2b6da31a2d17$</string>
            <key>textureFileName</key>
            <string>m116.png</string>
        </dict>
    </dict>
</plist>
