<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,74},{34,68}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,362},{34,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{32,76}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,354},{32,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,466},{32,42}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,328},{32,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,284},{34,46}}</string>
                <key>offset</key>
                <string>{-1,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,316},{34,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,200},{34,60}}</string>
                <key>offset</key>
                <string>{-1,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,319},{34,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,1},{34,78}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,354},{34,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,411},{32,54}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,386},{32,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,222},{38,66}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,364},{38,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,153},{60,68}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,364},{60,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,163},{50,78}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,355},{50,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1},{70,46}}</string>
                <key>offset</key>
                <string>{5,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,328},{70,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,318},{62,52}}</string>
                <key>offset</key>
                <string>{-1,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,314},{62,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,131},{76,54}}</string>
                <key>offset</key>
                <string>{4,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,319},{76,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,396},{64,74}}</string>
                <key>offset</key>
                <string>{4,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,358},{64,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,62},{72,54}}</string>
                <key>offset</key>
                <string>{14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,379},{72,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,1},{64,66}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,366},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,242},{34,76}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,360},{34,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,242},{34,74}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,356},{34,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,117},{34,50}}</string>
                <key>offset</key>
                <string>{-1,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,323},{34,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,257},{34,52}}</string>
                <key>offset</key>
                <string>{-1,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,316},{34,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,237},{32,46}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,321},{32,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,1},{34,72}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,356},{34,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,352},{32,58}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,372},{32,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Attack/attack_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,394},{36,74}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,364},{36,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,471},{38,38}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,376},{38,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,82},{32,80}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,353},{32,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,331},{38,34}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,379},{38,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,186},{80,50}}</string>
                <key>offset</key>
                <string>{-66,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,381},{80,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{52,80}}</string>
                <key>offset</key>
                <string>{-79,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,372},{52,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,371},{72,34}}</string>
                <key>offset</key>
                <string>{-94,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,401},{72,34}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,287},{38,64}}</string>
                <key>offset</key>
                <string>{-1,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,393},{38,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,82},{36,78}}</string>
                <key>offset</key>
                <string>{-1,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,395},{36,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Dead/dead_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,237},{46,46}}</string>
                <key>offset</key>
                <string>{-1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,420},{46,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,354},{38,64}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,366},{38,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,305},{38,66}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,364},{38,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,222},{38,64}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,366},{38,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,1},{38,62}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,368},{38,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,289},{64,64}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,368},{64,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,70},{64,66}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,366},{64,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,437},{64,64}}</string>
                <key>offset</key>
                <string>{-7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,368},{64,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,68},{64,62}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,370},{64,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,80},{36,72}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,366},{36,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,319},{36,74}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,364},{36,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,161},{38,72}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,366},{38,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,234},{36,70}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,368},{36,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,419},{32,58}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,368},{32,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,471},{32,40}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,371},{32,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,261},{38,56}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,375},{38,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,200},{34,56}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,372},{34,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,372},{68,64}}</string>
                <key>offset</key>
                <string>{-8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,368},{68,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,469},{70,42}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,369},{70,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1},{62,54}}</string>
                <key>offset</key>
                <string>{-3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,377},{62,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,137},{70,62}}</string>
                <key>offset</key>
                <string>{-6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,370},{70,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1},{32,68}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,369},{32,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,56},{34,48}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,369},{34,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,117},{36,48}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,380},{36,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>Move/move_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{34,60}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,370},{34,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m18.png</string>
            <key>size</key>
            <string>{430,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e395391e9f6fda974fb491e199909a4$</string>
            <key>textureFileName</key>
            <string>m18.png</string>
        </dict>
    </dict>
</plist>
