<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,159},{66,110}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,327},{66,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,355},{54,86}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,355},{54,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,495},{48,86}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,352},{48,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,622},{64,88}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,349},{64,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,94},{82,108}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,327},{82,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1},{148,84}}</string>
                <key>offset</key>
                <string>{41,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,351},{148,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,86},{124,88}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,347},{124,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,355},{70,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,343},{70,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,159},{70,110}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,328},{70,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,232},{52,98}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,338},{52,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,442},{46,98}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,338},{46,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,561},{62,102}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,336},{62,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{126,100}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,328},{126,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,175},{134,56}}</string>
                <key>offset</key>
                <string>{-6,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,400},{134,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,270},{140,48}}</string>
                <key>offset</key>
                <string>{-9,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,410},{140,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,258},{70,100}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,336},{70,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,313},{100,68}}</string>
                <key>offset</key>
                <string>{28,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,383},{100,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,288},{102,66}}</string>
                <key>offset</key>
                <string>{26,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,390},{102,66}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,1},{126,96}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,340},{126,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,102},{126,70}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,367},{126,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,98},{132,60}}</string>
                <key>offset</key>
                <string>{6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,377},{132,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,592},{68,86}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,351},{68,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,691},{64,86}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,351},{64,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,541},{62,88}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,349},{62,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,541},{64,88}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,349},{64,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,331},{72,90}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,345},{72,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,515},{68,90}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,345},{68,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,448},{68,92}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,343},{68,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,422},{70,92}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,343},{70,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,359},{66,100}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,338},{66,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,422},{62,100}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,338},{62,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,578},{60,100}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,338},{60,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,319},{62,102}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,336},{62,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,691},{64,84}}</string>
                <key>offset</key>
                <string>{10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,363},{64,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,711},{64,70}}</string>
                <key>offset</key>
                <string>{9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,368},{64,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,630},{68,80}}</string>
                <key>offset</key>
                <string>{11,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,361},{68,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,679},{68,82}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,351},{68,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,630},{66,80}}</string>
                <key>offset</key>
                <string>{12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,350},{66,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,606},{68,84}}</string>
                <key>offset</key>
                <string>{9,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,358},{68,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{391,203},{88,84}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,352},{88,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,232},{90,80}}</string>
                <key>offset</key>
                <string>{15,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,356},{90,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,319},{76,88}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,352},{76,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,408},{76,86}}</string>
                <key>offset</key>
                <string>{16,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,344},{76,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1},{102,92}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,341},{102,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{100,84}}</string>
                <key>offset</key>
                <string>{18,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,348},{100,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,523},{62,98}}</string>
                <key>offset</key>
                <string>{-10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,342},{62,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,664},{62,90}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,345},{62,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,481},{66,96}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,341},{66,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,495},{64,96}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,336},{64,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,460},{64,100}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,335},{64,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,382},{66,98}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,338},{66,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m22.png</string>
            <key>size</key>
            <string>{512,782}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a20bc8570e178e0ccf58a564418a7f4d$</string>
            <key>textureFileName</key>
            <string>m22.png</string>
        </dict>
    </dict>
</plist>
