<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,40},{62,40}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,394},{62,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1},{62,38}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,396},{62,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{62,38}}</string>
                <key>offset</key>
                <string>{0,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,396},{62,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,42},{64,42}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,392},{64,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,42},{62,42}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,392},{62,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,126},{62,46}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,388},{62,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,1},{60,40}}</string>
                <key>offset</key>
                <string>{-11,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,397},{60,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,1},{62,40}}</string>
                <key>offset</key>
                <string>{-8,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,397},{62,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,85},{76,46}}</string>
                <key>offset</key>
                <string>{2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,391},{76,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,181},{62,50}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,387},{62,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,177},{62,50}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,387},{62,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,232},{58,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,387},{58,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,1},{66,38}}</string>
                <key>offset</key>
                <string>{0,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,401},{66,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,1},{66,38}}</string>
                <key>offset</key>
                <string>{0,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,400},{66,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,132},{66,48}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,390},{66,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,232},{66,50}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,388},{66,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,222},{66,50}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,388},{66,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,285},{66,52}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,386},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,332},{62,58}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,368},{62,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,222},{60,50}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,375},{60,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1},{78,38}}</string>
                <key>offset</key>
                <string>{-1,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,407},{78,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,336},{60,72}}</string>
                <key>offset</key>
                <string>{-7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,365},{60,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,173},{106,48}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,382},{106,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,40},{106,40}}</string>
                <key>offset</key>
                <string>{2,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,402},{106,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,338},{66,74}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,364},{66,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,273},{60,52}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,374},{60,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,173},{78,48}}</string>
                <key>offset</key>
                <string>{0,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,397},{78,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{62,46}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,388},{62,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,126},{62,46}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,388},{62,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,81},{62,44}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,390},{62,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,81},{62,44}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,390},{62,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,81},{62,44}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,390},{62,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,85},{62,46}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,388},{62,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,228},{58,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,387},{58,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,222},{58,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,387},{58,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,173},{58,48}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,389},{58,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,134},{58,48}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,389},{58,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,132},{58,48}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,389},{58,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,181},{58,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,387},{58,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,283},{66,52}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,386},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,283},{66,52}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,386},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,279},{66,52}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,387},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,183},{66,50}}</string>
                <key>offset</key>
                <string>{0,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,389},{66,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,277},{66,52}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,387},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,273},{66,52}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,386},{66,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,40},{64,42}}</string>
                <key>offset</key>
                <string>{-1,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,393},{64,42}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,83},{62,46}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,389},{62,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,330},{62,56}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,365},{62,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,85},{42,48}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,375},{42,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,222},{48,54}}</string>
                <key>offset</key>
                <string>{-1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,370},{48,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,126},{60,46}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,391},{60,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,130},{64,46}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,391},{64,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,336},{72,70}}</string>
                <key>offset</key>
                <string>{-14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,367},{72,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,326},{112,52}}</string>
                <key>offset</key>
                <string>{-25,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,376},{112,52}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,40},{114,40}}</string>
                <key>offset</key>
                <string>{-22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,383},{114,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,234},{64,50}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,388},{64,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,81},{66,44}}</string>
                <key>offset</key>
                <string>{0,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,394},{66,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,344},{66,80}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,363},{66,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,285},{44,58}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,371},{44,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1},{46,38}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,380},{46,38}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m24.png</string>
            <key>size</key>
            <string>{511,425}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33b1cd28bfb46fab093bc63c5a79059e$</string>
            <key>textureFileName</key>
            <string>m24.png</string>
        </dict>
    </dict>
</plist>
