<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,0},{86,72}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,364},{86,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,92},{76,74}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,364},{76,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{90,84}}</string>
                <key>offset</key>
                <string>{-29,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,352},{90,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,176},{68,88}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,348},{68,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,428},{52,86}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,350},{52,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,86},{76,78}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,359},{76,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,442},{54,80}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,361},{54,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,248},{68,84}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,351},{68,84}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,90},{78,86}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,349},{78,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,162},{74,86}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,349},{74,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,0},{82,80}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,355},{82,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,166},{74,78}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,357},{74,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,0},{90,90}}</string>
                <key>offset</key>
                <string>{28,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,345},{90,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,340},{68,88}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,347},{68,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,492},{52,90}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,345},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,434},{60,92}}</string>
                <key>offset</key>
                <string>{-11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,344},{60,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,262},{64,82}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,355},{64,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,132},{78,44}}</string>
                <key>offset</key>
                <string>{-6,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,415},{78,44}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,344},{56,94}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,341},{56,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,176},{68,86}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,349},{68,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{114,48}}</string>
                <key>offset</key>
                <string>{27,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,404},{114,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,350},{58,96}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,339},{58,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{64,92}}</string>
                <key>offset</key>
                <string>{2,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,344},{64,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,244},{74,60}}</string>
                <key>offset</key>
                <string>{5,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,386},{74,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,526},{52,86}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,350},{52,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,606},{50,86}}</string>
                <key>offset</key>
                <string>{-10,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,350},{50,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,582},{50,88}}</string>
                <key>offset</key>
                <string>{-10,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,348},{50,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,520},{52,86}}</string>
                <key>offset</key>
                <string>{-12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,350},{52,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,166},{74,86}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,349},{74,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,80},{76,86}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,349},{76,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,0},{76,86}}</string>
                <key>offset</key>
                <string>{-6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,349},{76,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,164},{74,86}}</string>
                <key>offset</key>
                <string>{-4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,349},{74,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,484},{52,90}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,345},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,574},{50,90}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,345},{50,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,526},{50,90}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,345},{50,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{52,90}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{497,345},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,446},{50,90}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,342},{50,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,398},{54,94}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,344},{54,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,354},{56,88}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,344},{56,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,438},{54,88}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,345},{54,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,264},{62,90}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,345},{62,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,72},{80,90}}</string>
                <key>offset</key>
                <string>{16,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,337},{80,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,250},{68,92}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,340},{68,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,304},{60,94}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{499,338},{60,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,252},{68,88}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,339},{68,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,394},{52,90}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{504,339},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,250},{50,100}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,329},{50,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,304},{52,90}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,334},{52,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,332},{56,98}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,331},{56,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,430},{54,90}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,332},{54,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,342},{60,92}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,335},{60,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m28.png</string>
            <key>size</key>
            <string>{512,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c5568fa4b92ed0cca59c4167d4f298c$</string>
            <key>textureFileName</key>
            <string>m28.png</string>
        </dict>
    </dict>
</plist>
