<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,998},{78,162}}</string>
                <key>offset</key>
                <string>{-5,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,275},{78,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,838},{108,126}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,311},{108,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,900},{82,146}}</string>
                <key>offset</key>
                <string>{13,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,291},{82,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,162},{88,108}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,329},{88,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,0},{90,100}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,337},{90,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,596},{98,114}}</string>
                <key>offset</key>
                <string>{-18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,323},{98,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,826},{82,118}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,319},{82,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,964},{84,160}}</string>
                <key>offset</key>
                <string>{-10,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,274},{84,160}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{94,116}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,317},{94,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,724},{76,148}}</string>
                <key>offset</key>
                <string>{-5,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,285},{76,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,494},{88,114}}</string>
                <key>offset</key>
                <string>{20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,319},{88,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,48},{106,102}}</string>
                <key>offset</key>
                <string>{-17,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,332},{106,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,608},{112,112}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,320},{112,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,652},{64,116}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,317},{64,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,944},{78,152}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,282},{78,152}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,872},{110,126}}</string>
                <key>offset</key>
                <string>{-13,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,309},{110,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,900},{84,140}}</string>
                <key>offset</key>
                <string>{-15,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,294},{84,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,538},{86,114}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,322},{86,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,56},{90,106}}</string>
                <key>offset</key>
                <string>{15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,328},{90,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,668},{96,114}}</string>
                <key>offset</key>
                <string>{18,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,319},{96,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,378},{84,112}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,321},{84,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,256},{102,110}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,320},{102,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{120,48}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,387},{120,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,154},{86,106}}</string>
                <key>offset</key>
                <string>{-6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,328},{86,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,0},{114,50}}</string>
                <key>offset</key>
                <string>{-56,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,407},{114,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,150},{104,106}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,331},{104,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,0},{132,56}}</string>
                <key>offset</key>
                <string>{16,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,411},{132,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,782},{84,118}}</string>
                <key>offset</key>
                <string>{-16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,319},{84,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,782},{84,118}}</string>
                <key>offset</key>
                <string>{-17,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,319},{84,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,720},{84,118}}</string>
                <key>offset</key>
                <string>{-15,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,319},{84,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,720},{82,118}}</string>
                <key>offset</key>
                <string>{-14,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,319},{82,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,608},{64,116}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,317},{64,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,590},{66,116}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,317},{66,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,552},{64,116}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,317},{64,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,100},{64,116}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,317},{64,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,478},{86,112}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,321},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,382},{86,112}}</string>
                <key>offset</key>
                <string>{17,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,321},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,370},{86,112}}</string>
                <key>offset</key>
                <string>{16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,321},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,270},{84,112}}</string>
                <key>offset</key>
                <string>{15,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,321},{84,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,50},{86,104}}</string>
                <key>offset</key>
                <string>{-9,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,323},{86,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,366},{86,112}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,321},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,56},{78,104}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,323},{78,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,216},{76,110}}</string>
                <key>offset</key>
                <string>{-8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,321},{76,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,206},{80,108}}</string>
                <key>offset</key>
                <string>{-8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,323},{80,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,266},{76,112}}</string>
                <key>offset</key>
                <string>{4,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,319},{76,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,426},{88,112}}</string>
                <key>offset</key>
                <string>{5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,318},{88,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,260},{84,110}}</string>
                <key>offset</key>
                <string>{10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,319},{84,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,314},{86,112}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,316},{86,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,326},{72,112}}</string>
                <key>offset</key>
                <string>{5,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,320},{72,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,482},{86,114}}</string>
                <key>offset</key>
                <string>{9,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,319},{86,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,100},{86,106}}</string>
                <key>offset</key>
                <string>{9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,318},{86,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,438},{82,114}}</string>
                <key>offset</key>
                <string>{6,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,319},{82,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,160},{76,106}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,317},{76,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,490},{80,114}}</string>
                <key>offset</key>
                <string>{8,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,319},{80,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m29.png</string>
            <key>size</key>
            <string>{512,1160}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:229b3c61d46b55fb478da65bd5d63112$</string>
            <key>textureFileName</key>
            <string>m29.png</string>
        </dict>
    </dict>
</plist>
