<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,874},{76,124}}</string>
                <key>offset</key>
                <string>{-12,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,311},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,874},{76,124}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,311},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,630},{76,122}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,313},{76,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,630},{76,122}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,313},{76,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,998},{78,132}}</string>
                <key>offset</key>
                <string>{-15,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,303},{78,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1120},{80,126}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,309},{80,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,874},{124,124}}</string>
                <key>offset</key>
                <string>{23,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,310},{124,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,996},{118,124}}</string>
                <key>offset</key>
                <string>{22,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,310},{118,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,630},{114,122}}</string>
                <key>offset</key>
                <string>{13,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,312},{114,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,752},{116,122}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,312},{116,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1120},{84,132}}</string>
                <key>offset</key>
                <string>{8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,302},{84,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,836},{68,126}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,308},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,492},{70,122}}</string>
                <key>offset</key>
                <string>{10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,311},{70,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,464},{70,120}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,313},{70,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,348},{70,116}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,317},{70,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,390},{72,120}}</string>
                <key>offset</key>
                <string>{5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,313},{72,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,1122},{74,144}}</string>
                <key>offset</key>
                <string>{12,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,289},{74,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,874},{80,122}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,311},{80,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{140,82}}</string>
                <key>offset</key>
                <string>{-19,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,354},{140,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,64},{130,96}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{421,349},{130,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,0},{150,64}}</string>
                <key>offset</key>
                <string>{-26,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,406},{150,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{98,92}}</string>
                <key>offset</key>
                <string>{32,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{495,343},{98,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,64},{132,96}}</string>
                <key>offset</key>
                <string>{54,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,339},{132,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,0},{174,54}}</string>
                <key>offset</key>
                <string>{75,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{500,397},{174,54}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,136},{132,98}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,335},{132,98}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,390},{114,120}}</string>
                <key>offset</key>
                <string>{22,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,309},{114,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{126,50}}</string>
                <key>offset</key>
                <string>{20,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,375},{126,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,998},{78,124}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,311},{78,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,752},{78,122}}</string>
                <key>offset</key>
                <string>{-5,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,313},{78,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,996},{78,124}}</string>
                <key>offset</key>
                <string>{-4,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,311},{78,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,998},{80,126}}</string>
                <key>offset</key>
                <string>{-5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,309},{80,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,740},{68,126}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,308},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,710},{68,126}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,308},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,614},{68,126}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,308},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,584},{68,126}}</string>
                <key>offset</key>
                <string>{-10,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,308},{68,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,874},{80,122}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,311},{80,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,998},{80,124}}</string>
                <key>offset</key>
                <string>{5,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,309},{80,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,752},{80,122}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,311},{80,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,752},{80,122}}</string>
                <key>offset</key>
                <string>{5,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,311},{80,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,146},{74,112}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,315},{74,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,630},{74,120}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,313},{74,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,160},{78,114}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,316},{78,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,160},{74,114}}</string>
                <key>offset</key>
                <string>{8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,313},{74,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,510},{74,120}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,313},{74,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,160},{78,114}}</string>
                <key>offset</key>
                <string>{10,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,316},{78,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,234},{110,114}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,311},{110,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,274},{112,116}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,310},{112,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,274},{100,116}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,312},{100,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,274},{112,116}}</string>
                <key>offset</key>
                <string>{16,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,309},{112,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,510},{112,120}}</string>
                <key>offset</key>
                <string>{16,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,310},{112,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,510},{102,120}}</string>
                <key>offset</key>
                <string>{19,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,312},{102,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,390},{70,120}}</string>
                <key>offset</key>
                <string>{-9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,310},{70,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,160},{70,114}}</string>
                <key>offset</key>
                <string>{-9,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,310},{70,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,510},{74,120}}</string>
                <key>offset</key>
                <string>{-10,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,312},{74,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,374},{70,118}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,307},{70,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,258},{70,116}}</string>
                <key>offset</key>
                <string>{-8,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,308},{70,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,390},{74,120}}</string>
                <key>offset</key>
                <string>{-9,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,312},{74,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m33.png</string>
            <key>size</key>
            <string>{512,1266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31a53415590ce27fdab9ac0fcd93ed2a$</string>
            <key>textureFileName</key>
            <string>m33.png</string>
        </dict>
    </dict>
</plist>
