<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,128},{72,110}}</string>
                <key>offset</key>
                <string>{-11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,324},{72,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1082},{82,136}}</string>
                <key>offset</key>
                <string>{-17,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,319},{82,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,68},{106,92}}</string>
                <key>offset</key>
                <string>{4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,331},{106,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,0},{118,68}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{446,350},{118,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,220},{86,110}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,324},{86,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,834},{108,124}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,310},{108,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,252},{138,106}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,330},{138,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,684},{116,122}}</string>
                <key>offset</key>
                <string>{35,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,318},{116,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,68},{144,80}}</string>
                <key>offset</key>
                <string>{-24,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,336},{144,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{156,78}}</string>
                <key>offset</key>
                <string>{32,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,340},{156,78}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,340},{156,108}}</string>
                <key>offset</key>
                <string>{-24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,328},{156,108}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1098},{64,140}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,311},{64,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,230},{70,110}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,325},{70,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,238},{84,110}}</string>
                <key>offset</key>
                <string>{16,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,320},{84,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,46},{104,72}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,329},{104,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,128},{114,92}}</string>
                <key>offset</key>
                <string>{7,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,322},{114,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,160},{84,106}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,321},{84,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,950},{106,124}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,311},{106,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,128},{68,102}}</string>
                <key>offset</key>
                <string>{-4,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,326},{68,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{104,46}}</string>
                <key>offset</key>
                <string>{-5,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,383},{104,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,148},{132,104}}</string>
                <key>offset</key>
                <string>{-35,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{411,338},{132,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,0},{156,50}}</string>
                <key>offset</key>
                <string>{-75,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,406},{156,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,348},{74,118}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,342},{74,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,0},{124,60}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,421},{124,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,728},{126,122}}</string>
                <key>offset</key>
                <string>{-20,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{429,312},{126,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,706},{126,122}}</string>
                <key>offset</key>
                <string>{-17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,312},{126,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,806},{102,124}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,310},{102,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,710},{108,124}}</string>
                <key>offset</key>
                <string>{-14,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,310},{108,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,1082},{56,136}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,314},{56,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1098},{60,136}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,313},{60,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,850},{94,124}}</string>
                <key>offset</key>
                <string>{11,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,313},{94,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1106},{66,140}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,311},{66,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,564},{122,120}}</string>
                <key>offset</key>
                <string>{18,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,313},{122,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,828},{124,122}}</string>
                <key>offset</key>
                <string>{18,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,311},{124,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,466},{102,120}}</string>
                <key>offset</key>
                <string>{14,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,313},{102,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,586},{106,124}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,311},{106,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,470},{126,116}}</string>
                <key>offset</key>
                <string>{-23,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{426,310},{126,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,974},{120,124}}</string>
                <key>offset</key>
                <string>{-22,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,312},{120,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,266},{120,110}}</string>
                <key>offset</key>
                <string>{-19,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,314},{120,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,586},{126,120}}</string>
                <key>offset</key>
                <string>{-19,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,311},{126,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,376},{116,114}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,315},{116,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,850},{76,128}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,309},{76,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,930},{74,128}}</string>
                <key>offset</key>
                <string>{-7,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,311},{74,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1058},{74,130}}</string>
                <key>offset</key>
                <string>{-6,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,310},{74,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1074},{80,132}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,307},{80,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,978},{78,128}}</string>
                <key>offset</key>
                <string>{-9,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,313},{78,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,448},{126,116}}</string>
                <key>offset</key>
                <string>{19,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,306},{126,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,490},{120,116}}</string>
                <key>offset</key>
                <string>{18,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,310},{120,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,958},{120,124}}</string>
                <key>offset</key>
                <string>{16,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,310},{120,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,358},{126,112}}</string>
                <key>offset</key>
                <string>{15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,306},{126,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,606},{116,122}}</string>
                <key>offset</key>
                <string>{18,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,310},{116,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m37.png</string>
            <key>size</key>
            <string>{510,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5fec81ebae3f974794178775e51963c5$</string>
            <key>textureFileName</key>
            <string>m37.png</string>
        </dict>
    </dict>
</plist>
