<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,3090},{96,150}}</string>
                <key>offset</key>
                <string>{-19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,308},{96,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,290},{330,288}}</string>
                <key>offset</key>
                <string>{-61,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,197},{330,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1093},{214,300}}</string>
                <key>offset</key>
                <string>{3,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,188},{214,300}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,626},{238,272}}</string>
                <key>offset</key>
                <string>{1,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{394,208},{238,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1942},{190,306}}</string>
                <key>offset</key>
                <string>{-7,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{410,174},{190,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1172},{214,252}}</string>
                <key>offset</key>
                <string>{-6,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{399,245},{214,252}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2312},{120,150}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{444,308},{120,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2985},{98,148}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,310},{98,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1425},{204,288}}</string>
                <key>offset</key>
                <string>{5,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{415,197},{204,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2249},{190,290}}</string>
                <key>offset</key>
                <string>{21,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,188},{190,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,899},{220,272}}</string>
                <key>offset</key>
                <string>{20,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,208},{220,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1714},{190,306}}</string>
                <key>offset</key>
                <string>{25,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,174},{190,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,579},{260,240}}</string>
                <key>offset</key>
                <string>{18,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{400,245},{260,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2334},{76,148}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,310},{76,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1470},{90,142}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,312},{90,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{330,288}}</string>
                <key>offset</key>
                <string>{56,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,197},{330,288}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2021},{190,290}}</string>
                <key>offset</key>
                <string>{-1,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{416,188},{190,290}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,820},{220,272}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{412,208},{220,272}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1635},{200,306}}</string>
                <key>offset</key>
                <string>{8,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{420,174},{200,306}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1394},{214,240}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{409,245},{214,240}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2040},{122,142}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,312},{122,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2683},{112,128}}</string>
                <key>offset</key>
                <string>{-24,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{432,302},{112,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2477},{116,60}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,383},{116,60}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,3134},{90,122}}</string>
                <key>offset</key>
                <string>{-28,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,314},{90,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,1},{170,82}}</string>
                <key>offset</key>
                <string>{-89,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,395},{170,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2592},{114,124}}</string>
                <key>offset</key>
                <string>{22,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,317},{114,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,227},{130,104}}</string>
                <key>offset</key>
                <string>{18,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,406},{130,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,332},{128,150}}</string>
                <key>offset</key>
                <string>{-11,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,285},{128,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2183},{120,150}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{445,285},{120,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2681},{110,150}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,285},{110,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1889},{116,150}}</string>
                <key>offset</key>
                <string>{-5,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,285},{116,150}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2632},{70,148}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,287},{70,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2483},{74,148}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,287},{74,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1172},{80,148}}</string>
                <key>offset</key>
                <string>{-3,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,287},{80,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,1321},{76,148}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,287},{76,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,84},{132,142}}</string>
                <key>offset</key>
                <string>{12,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,289},{132,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,483},{124,142}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,289},{124,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2540},{114,142}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,289},{114,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,2334},{120,142}}</string>
                <key>offset</key>
                <string>{6,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,289},{120,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2781},{108,140}}</string>
                <key>offset</key>
                <string>{-3,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,296},{108,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2463},{116,128}}</string>
                <key>offset</key>
                <string>{2,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,300},{116,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2812},{110,132}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,297},{110,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2850},{104,134}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,299},{104,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,2967},{100,128}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,298},{100,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,1613},{90,134}}</string>
                <key>offset</key>
                <string>{-1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,294},{90,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2922},{100,134}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,295},{100,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,3096},{92,134}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,293},{92,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,3057},{94,136}}</string>
                <key>offset</key>
                <string>{-3,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,295},{94,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,3057},{92,136}}</string>
                <key>offset</key>
                <string>{-2,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,294},{92,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2717},{110,132}}</string>
                <key>offset</key>
                <string>{0,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,290},{110,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1748},{118,140}}</string>
                <key>offset</key>
                <string>{-5,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,292},{118,140}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2538},{114,142}}</string>
                <key>offset</key>
                <string>{-7,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,289},{114,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,2832},{106,134}}</string>
                <key>offset</key>
                <string>{-2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,292},{106,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,2945},{102,144}}</string>
                <key>offset</key>
                <string>{4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,292},{102,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m5.png</string>
            <key>size</key>
            <string>{512,3257}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:470fb29000da40cfe7f9858857eea3c9$</string>
            <key>textureFileName</key>
            <string>m5.png</string>
        </dict>
    </dict>
</plist>
