<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,654},{86,124}}</string>
                <key>offset</key>
                <string>{-10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,308},{86,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,730},{90,126}}</string>
                <key>offset</key>
                <string>{4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,304},{90,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,50},{78,112}}</string>
                <key>offset</key>
                <string>{-14,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,318},{78,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,134},{88,116}}</string>
                <key>offset</key>
                <string>{-21,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,314},{88,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,534},{86,122}}</string>
                <key>offset</key>
                <string>{-13,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,308},{86,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,656},{74,124}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,306},{74,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,368},{92,120}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,314},{92,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,778},{80,128}}</string>
                <key>offset</key>
                <string>{-17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,306},{80,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,64},{106,112}}</string>
                <key>offset</key>
                <string>{20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,322},{106,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,250},{104,118}}</string>
                <key>offset</key>
                <string>{-42,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{418,319},{104,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,960},{76,136}}</string>
                <key>offset</key>
                <string>{-33,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,313},{76,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,924},{62,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,309},{62,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,294},{84,120}}</string>
                <key>offset</key>
                <string>{7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,319},{84,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,414},{96,120}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,318},{96,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,64},{74,114}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,322},{74,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,608},{94,122}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,323},{94,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,856},{90,132}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,318},{90,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,910},{78,132}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,314},{78,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,798},{92,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,324},{92,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,0},{110,64}}</string>
                <key>offset</key>
                <string>{8,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,406},{110,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,410},{78,120}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,331},{78,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{144,50}}</string>
                <key>offset</key>
                <string>{40,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,397},{144,50}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,0},{94,106}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,333},{94,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,0},{100,64}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,380},{100,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,530},{74,124}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,306},{74,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,580},{76,124}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,306},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,548},{76,124}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,306},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,456},{74,124}}</string>
                <key>offset</key>
                <string>{-8,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,306},{74,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,656},{62,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,309},{62,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,516},{62,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,309},{62,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,414},{62,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,309},{62,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,0},{62,134}}</string>
                <key>offset</key>
                <string>{-26,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{455,309},{62,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,830},{78,130}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,316},{78,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,780},{78,130}}</string>
                <key>offset</key>
                <string>{8,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,316},{78,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,906},{78,132}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,314},{78,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,856},{78,132}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,314},{78,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,336},{70,120}}</string>
                <key>offset</key>
                <string>{-9,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,309},{70,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,672},{70,126}}</string>
                <key>offset</key>
                <string>{-6,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,303},{70,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,178},{70,116}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,310},{70,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,704},{74,126}}</string>
                <key>offset</key>
                <string>{-7,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,302},{74,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,396},{68,120}}</string>
                <key>offset</key>
                <string>{-7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,311},{68,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,178},{86,116}}</string>
                <key>offset</key>
                <string>{-5,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,315},{86,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,292},{84,118}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,306},{84,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,64},{80,114}}</string>
                <key>offset</key>
                <string>{-11,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,311},{80,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,488},{86,120}}</string>
                <key>offset</key>
                <string>{-5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,303},{86,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,176},{86,116}}</string>
                <key>offset</key>
                <string>{-7,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,316},{86,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,294},{72,118}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,316},{72,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,106},{72,114}}</string>
                <key>offset</key>
                <string>{5,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,306},{72,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,162},{70,116}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,316},{70,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,220},{72,116}}</string>
                <key>offset</key>
                <string>{6,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,306},{72,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,278},{68,118}}</string>
                <key>offset</key>
                <string>{5,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,316},{68,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m68.png</string>
            <key>size</key>
            <string>{510,1096}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53ec4f7030003e38ab84ecd8c7ce1fe1$</string>
            <key>textureFileName</key>
            <string>m68.png</string>
        </dict>
    </dict>
</plist>
