<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,970},{94,120}}</string>
                <key>offset</key>
                <string>{-9,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,314},{94,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,482},{84,106}}</string>
                <key>offset</key>
                <string>{5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,328},{84,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,1232},{74,102}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,332},{74,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,356},{108,120}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,314},{108,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,728},{100,126}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,308},{100,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,608},{102,120}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,315},{102,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,226},{116,110}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,327},{116,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{170,112}}</string>
                <key>offset</key>
                <string>{55,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,325},{170,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,0},{124,124}}</string>
                <key>offset</key>
                <string>{41,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,312},{124,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,518},{102,128}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,307},{102,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,884},{98,114}}</string>
                <key>offset</key>
                <string>{8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,318},{98,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1122},{82,110}}</string>
                <key>offset</key>
                <string>{-6,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,323},{82,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1200},{74,112}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,321},{74,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,822},{98,122}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,311},{98,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1068},{94,124}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,308},{94,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,966},{96,112}}</string>
                <key>offset</key>
                <string>{18,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,313},{96,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,180},{118,56}}</string>
                <key>offset</key>
                <string>{-39,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{414,398},{118,56}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1090},{80,120}}</string>
                <key>offset</key>
                <string>{-20,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,316},{80,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,0},{128,62}}</string>
                <key>offset</key>
                <string>{5,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,410},{128,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,852},{98,114}}</string>
                <key>offset</key>
                <string>{-20,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,321},{98,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,236},{116,46}}</string>
                <key>offset</key>
                <string>{37,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,406},{116,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,696},{102,126}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,308},{102,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,132},{106,124}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{448,310},{106,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,646},{102,126}}</string>
                <key>offset</key>
                <string>{-9,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,308},{102,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,718},{100,128}}</string>
                <key>offset</key>
                <string>{-8,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,306},{100,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,604},{102,126}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,309},{102,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,482},{102,126}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,309},{102,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,570},{102,126}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,309},{102,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,476},{102,128}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,307},{102,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,854},{96,122}}</string>
                <key>offset</key>
                <string>{7,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,310},{96,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,730},{100,122}}</string>
                <key>offset</key>
                <string>{8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,310},{100,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,944},{96,124}}</string>
                <key>offset</key>
                <string>{7,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,308},{96,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,998},{94,124}}</string>
                <key>offset</key>
                <string>{5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,308},{94,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,368},{106,114}}</string>
                <key>offset</key>
                <string>{-18,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,318},{106,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,452},{106,118}}</string>
                <key>offset</key>
                <string>{-19,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,316},{106,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,112},{118,114}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{434,319},{118,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,256},{114,112}}</string>
                <key>offset</key>
                <string>{-16,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,317},{114,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,62},{118,118}}</string>
                <key>offset</key>
                <string>{-16,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{437,318},{118,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,124},{118,114}}</string>
                <key>offset</key>
                <string>{-17,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,319},{118,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,976},{92,132}}</string>
                <key>offset</key>
                <string>{12,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,313},{92,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,0},{90,132}}</string>
                <key>offset</key>
                <string>{11,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,314},{90,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,588},{82,130}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,317},{82,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,1078},{90,122}}</string>
                <key>offset</key>
                <string>{9,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,312},{90,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,1108},{78,126}}</string>
                <key>offset</key>
                <string>{5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,314},{78,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1192},{80,130}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,316},{80,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,846},{100,124}}</string>
                <key>offset</key>
                <string>{17,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,309},{100,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,772},{100,112}}</string>
                <key>offset</key>
                <string>{18,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,310},{100,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,282},{114,118}}</string>
                <key>offset</key>
                <string>{17,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,314},{114,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,400},{108,118}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,309},{108,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,336},{114,116}}</string>
                <key>offset</key>
                <string>{13,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,310},{114,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,238},{114,118}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,314},{114,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m73.png</string>
            <key>size</key>
            <string>{512,1334}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:201726053b37307bcb944ab498b55569$</string>
            <key>textureFileName</key>
            <string>m73.png</string>
        </dict>
    </dict>
</plist>
