<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,164},{88,128}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,303},{88,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,1},{148,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,329},{148,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,641},{88,120}}</string>
                <key>offset</key>
                <string>{21,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,315},{88,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,572},{102,112}}</string>
                <key>offset</key>
                <string>{20,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,323},{102,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,685},{88,92}}</string>
                <key>offset</key>
                <string>{-10,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,343},{88,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,549},{90,120}}</string>
                <key>offset</key>
                <string>{-4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,311},{90,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,907},{68,128}}</string>
                <key>offset</key>
                <string>{4,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,274},{68,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,762},{78,144}}</string>
                <key>offset</key>
                <string>{2,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,283},{78,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,928},{68,174}}</string>
                <key>offset</key>
                <string>{12,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{490,290},{68,174}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_down_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,1103},{64,124}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,308},{64,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,510},{104,130}}</string>
                <key>offset</key>
                <string>{-30,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{430,306},{104,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,364},{114,134}}</string>
                <key>offset</key>
                <string>{17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,300},{114,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,859},{70,118}}</string>
                <key>offset</key>
                <string>{-13,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,316},{70,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,384},{114,112}}</string>
                <key>offset</key>
                <string>{21,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,322},{114,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,415},{106,94}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{456,340},{106,94}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,293},{94,126}}</string>
                <key>offset</key>
                <string>{-8,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{457,308},{94,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{138,130}}</string>
                <key>offset</key>
                <string>{-21,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,281},{138,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,221},{122,162}}</string>
                <key>offset</key>
                <string>{15,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{466,267},{122,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{154,132}}</string>
                <key>offset</key>
                <string>{29,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{464,303},{154,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_left_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1303},{60,126}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,307},{60,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,540},{86,120}}</string>
                <key>offset</key>
                <string>{-16,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,319},{86,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,134},{124,112}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,326},{124,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,294},{114,120}}</string>
                <key>offset</key>
                <string>{-33,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,317},{114,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{120,116}}</string>
                <key>offset</key>
                <string>{-25,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{427,321},{120,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,108},{134,112}}</string>
                <key>offset</key>
                <string>{22,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,324},{134,112}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,420},{92,128}}</string>
                <key>offset</key>
                <string>{6,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,308},{92,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1041},{64,130}}</string>
                <key>offset</key>
                <string>{-9,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,292},{64,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,670},{80,130}}</string>
                <key>offset</key>
                <string>{-3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,310},{80,130}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1},{66,162}}</string>
                <key>offset</key>
                <string>{7,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,278},{66,162}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>attack/attack_up_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,1288},{62,124}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,307},{62,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,415},{76,124}}</string>
                <key>offset</key>
                <string>{-12,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{462,308},{76,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,988},{68,82}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{468,353},{68,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,739},{86,82}}</string>
                <key>offset</key>
                <string>{-2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,364},{86,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,941},{72,46}}</string>
                <key>offset</key>
                <string>{-9,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,404},{72,46}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,778},{74,122}}</string>
                <key>offset</key>
                <string>{-10,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,313},{74,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1105},{64,92}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,348},{64,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,497},{106,74}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,366},{106,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,132},{130,40}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{451,400},{130,40}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,822},{74,118}}</string>
                <key>offset</key>
                <string>{10,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,318},{74,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,960},{68,92}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,346},{68,92}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,661},{82,76}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,365},{82,76}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,901},{72,58}}</string>
                <key>offset</key>
                <string>{7,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,387},{72,58}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1071},{64,124}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,308},{64,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1053},{64,124}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{475,308},{64,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,1198},{62,124}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,308},{62,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,1232},{60,124}}</string>
                <key>offset</key>
                <string>{-4,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,308},{60,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1196},{62,124}}</string>
                <key>offset</key>
                <string>{-5,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,308},{62,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,801},{60,126}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{493,307},{60,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,1172},{62,126}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,307},{62,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,1036},{64,126}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{491,307},{64,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,978},{66,126}}</string>
                <key>offset</key>
                <string>{10,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{489,307},{66,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,1105},{62,126}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,307},{62,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,1178},{62,124}}</string>
                <key>offset</key>
                <string>{3,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,307},{62,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,1163},{62,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,307},{62,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1321},{60,124}}</string>
                <key>offset</key>
                <string>{2,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,307},{60,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1413},{60,122}}</string>
                <key>offset</key>
                <string>{2,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,309},{60,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1323},{60,122}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,309},{60,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1446},{58,120}}</string>
                <key>offset</key>
                <string>{-12,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{471,315},{58,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,926},{70,114}}</string>
                <key>offset</key>
                <string>{-12,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{465,315},{70,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,294},{50,120}}</string>
                <key>offset</key>
                <string>{-8,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,315},{50,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1299},{58,114}}</string>
                <key>offset</key>
                <string>{-11,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,315},{58,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,499},{104,120}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,311},{104,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,738},{80,120}}</string>
                <key>offset</key>
                <string>{1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,311},{80,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,173},{124,120}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,310},{124,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,620},{98,118}}</string>
                <key>offset</key>
                <string>{11,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,311},{98,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,1228},{58,118}}</string>
                <key>offset</key>
                <string>{13,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{496,307},{58,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,801},{70,124}}</string>
                <key>offset</key>
                <string>{11,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{488,307},{70,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,978},{50,118}}</string>
                <key>offset</key>
                <string>{7,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{494,307},{50,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1430},{58,124}}</string>
                <key>offset</key>
                <string>{9,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{492,308},{58,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m8.png</string>
            <key>size</key>
            <string>{511,1567}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bfab09080e60cdad810fb6a2baf5e41$</string>
            <key>textureFileName</key>
            <string>m8.png</string>
        </dict>
    </dict>
</plist>
