<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>attack/attack_down_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,573},{108,142}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,37},{108,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,438},{106,140}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,36},{106,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,855},{86,146}}</string>
                <key>offset</key>
                <string>{-14,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,30},{86,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,984},{84,144}}</string>
                <key>offset</key>
                <string>{-13,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,32},{84,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,712},{100,140}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,38},{100,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,464},{116,148}}</string>
                <key>offset</key>
                <string>{-2,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,35},{116,148}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,428},{118,144}}</string>
                <key>offset</key>
                <string>{-2,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,38},{118,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_down_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,150},{90,146}}</string>
                <key>offset</key>
                <string>{-15,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,33},{90,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,1331},{56,144}}</string>
                <key>offset</key>
                <string>{-1,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,34},{56,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,996},{74,146}}</string>
                <key>offset</key>
                <string>{-7,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,33},{74,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,319},{130,144}}</string>
                <key>offset</key>
                <string>{-24,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{130,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,1},{142,146}}</string>
                <key>offset</key>
                <string>{-17,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,33},{142,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1},{150,142}}</string>
                <key>offset</key>
                <string>{-13,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,36},{150,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,144},{136,138}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,40},{136,138}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,115},{144,140}}</string>
                <key>offset</key>
                <string>{-4,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,38},{144,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,148},{132,146}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,32},{132,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,432},{108,146}}</string>
                <key>offset</key>
                <string>{-4,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,31},{108,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,613},{106,146}}</string>
                <key>offset</key>
                <string>{3,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,29},{106,146}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,722},{84,144}}</string>
                <key>offset</key>
                <string>{12,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,29},{84,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,297},{110,140}}</string>
                <key>offset</key>
                <string>{-6,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,36},{110,140}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,579},{104,142}}</string>
                <key>offset</key>
                <string>{-10,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,34},{104,142}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,295},{130,136}}</string>
                <key>offset</key>
                <string>{1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,40},{130,136}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,283},{130,144}}</string>
                <key>offset</key>
                <string>{2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,32},{130,144}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>attack/attack_up_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,50},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{256,256}</string>
            </dict>
            <key>dead/dead_down_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,853},{88,90}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{472,338},{88,90}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_down_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,50},{150,64}}</string>
                <key>offset</key>
                <string>{-18,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{419,400},{150,64}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,760},{100,102}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,332},{100,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_left_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{152,48}}</string>
                <key>offset</key>
                <string>{46,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,399},{152,48}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,944},{86,114}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{463,326},{86,114}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>dead/dead_up_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,256},{134,62}}</string>
                <key>offset</key>
                <string>{15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,381},{134,62}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1274},{58,148}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,285},{58,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,1014},{64,146}}</string>
                <key>offset</key>
                <string>{-2,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,287},{64,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,992},{64,146}}</string>
                <key>offset</key>
                <string>{-1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{479,287},{64,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,1},{62,148}}</string>
                <key>offset</key>
                <string>{-3,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,285},{62,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1437},{52,148}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,286},{52,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1288},{60,148}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{483,286},{60,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,1276},{60,148}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,286},{60,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,1425},{52,148}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{486,286},{52,148}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,1139},{60,144}}</string>
                <key>offset</key>
                <string>{2,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,287},{60,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1143},{62,144}}</string>
                <key>offset</key>
                <string>{1,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,287},{62,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,867},{64,146}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{480,285},{64,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1129},{62,146}}</string>
                <key>offset</key>
                <string>{1,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{482,285},{62,146}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,1194},{62,136}}</string>
                <key>offset</key>
                <string>{-5,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{476,301},{62,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,867},{66,124}}</string>
                <key>offset</key>
                <string>{-1,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,303},{66,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,1059},{64,134}}</string>
                <key>offset</key>
                <string>{1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{481,302},{64,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1161},{60,128}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,304},{60,128}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,1276},{58,126}}</string>
                <key>offset</key>
                <string>{-5,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,302},{58,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,722},{98,132}}</string>
                <key>offset</key>
                <string>{6,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,297},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,716},{100,132}}</string>
                <key>offset</key>
                <string>{8,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{470,298},{100,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,849},{98,134}}</string>
                <key>offset</key>
                <string>{4,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,296},{98,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,579},{106,132}}</string>
                <key>offset</key>
                <string>{8,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{467,299},{106,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,863},{98,132}}</string>
                <key>offset</key>
                <string>{6,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{469,299},{98,132}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1139},{62,136}}</string>
                <key>offset</key>
                <string>{4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{485,291},{62,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,579},{66,142}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{478,293},{66,142}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,1002},{64,136}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{477,292},{64,136}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1139},{60,134}}</string>
                <key>offset</key>
                <string>{2,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{484,294},{60,134}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1290},{58,144}}</string>
                <key>offset</key>
                <string>{4,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{487,293},{58,144}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>m9.png</string>
            <key>size</key>
            <string>{512,1586}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ac879a66936d7c51f0fe5a765dea4f4$</string>
            <key>textureFileName</key>
            <string>m9.png</string>
        </dict>
    </dict>
</plist>
