<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle/idle_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,826},{138,118}}</string>
                <key>offset</key>
                <string>{0,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,389},{138,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,774},{138,120}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,389},{138,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1147},{136,116}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,390},{136,116}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,752},{138,120}}</string>
                <key>offset</key>
                <string>{0,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,389},{138,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,705},{138,120}}</string>
                <key>offset</key>
                <string>{-1,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,389},{138,120}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1125},{136,118}}</string>
                <key>offset</key>
                <string>{-1,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,389},{136,118}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1070},{136,122}}</string>
                <key>offset</key>
                <string>{10,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,386},{136,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,504},{140,122}}</string>
                <key>offset</key>
                <string>{8,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,385},{140,122}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1022},{136,124}}</string>
                <key>offset</key>
                <string>{8,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,385},{136,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,1000},{136,124}}</string>
                <key>offset</key>
                <string>{10,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,386},{136,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,451},{140,126}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{450,385},{140,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,945},{136,124}}</string>
                <key>offset</key>
                <string>{8,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{452,386},{136,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,578},{138,126}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,384},{138,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,649},{138,124}}</string>
                <key>offset</key>
                <string>{-1,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,384},{138,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,895},{136,126}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,384},{136,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,522},{138,126}}</string>
                <key>offset</key>
                <string>{0,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,384},{138,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,627},{138,124}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{442,385},{138,124}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>idle/idle_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,873},{136,126}}</string>
                <key>offset</key>
                <string>{-1,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,384},{136,126}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,453},{142,68}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,410},{142,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,435},{142,68}}</string>
                <key>offset</key>
                <string>{-1,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,411},{142,68}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,380},{144,72}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{441,407},{144,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,295},{148,74}}</string>
                <key>offset</key>
                <string>{2,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{440,405},{148,74}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,184},{156,70}}</string>
                <key>offset</key>
                <string>{2,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{436,409},{156,70}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_down_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,0},{164,72}}</string>
                <key>offset</key>
                <string>{1,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{431,407},{164,72}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,255},{152,96}}</string>
                <key>offset</key>
                <string>{22,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,382},{152,96}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,0},{162,100}}</string>
                <key>offset</key>
                <string>{27,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{458,380},{162,100}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,190},{152,104}}</string>
                <key>offset</key>
                <string>{24,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{460,378},{152,104}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{154,102}}</string>
                <key>offset</key>
                <string>{26,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{461,382},{154,102}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,83},{158,106}}</string>
                <key>offset</key>
                <string>{26,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,380},{158,106}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_left_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,73},{160,110}}</string>
                <key>offset</key>
                <string>{27,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{459,378},{160,110}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1193},{132,80}}</string>
                <key>offset</key>
                <string>{3,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{449,389},{132,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,352},{144,82}}</string>
                <key>offset</key>
                <string>{7,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{447,389},{144,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,370},{142,80}}</string>
                <key>offset</key>
                <string>{2,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{443,386},{142,80}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,293},{150,86}}</string>
                <key>offset</key>
                <string>{2,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{439,385},{150,86}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,101},{158,88}}</string>
                <key>offset</key>
                <string>{2,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{435,385},{158,88}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>move/move_up_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{164,82}}</string>
                <key>offset</key>
                <string>{3,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{433,387},{164,82}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>p10_1_m.png</string>
            <key>size</key>
            <string>{492,1273}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b77c5e8dcb2418dd93d9dc283d38a214$</string>
            <key>textureFileName</key>
            <string>p10_1_m.png</string>
        </dict>
    </dict>
</plist>
